certifi==2024.2.2
    # via
    #   -c requirements/../../../requirements/constraints.txt
    #   requests
charset-normalizer==3.3.2
    # via requests
docker==7.1.0
    # via -r requirements/requirements.in
idna==3.7
    # via requests
pyyaml==6.0.1
    # via
    #   -c requirements/../../../requirements/constraints.txt
    #   -r requirements/requirements.in
requests==2.32.2
    # via docker
tenacity==8.2.3
    # via -r requirements/requirements.in
urllib3==2.2.1
    # via
    #   -c requirements/../../../requirements/constraints.txt
    #   docker
    #   requests
