--constraint ../../requirements/constraints.txt


aiohttp
coverage
openapi-core<0.15  # Broken compatibility. This library in any case is marked as deprecated and will be removed!
pytest
pytest-aiohttp
pytest-cov
pytest-instafail




pytest-sugar ## broken w/ pytest==7.2.0. SEE https://github.com/Teemu/pytest-sugar/issues/243
py>=1.11.0 ## NOTE: tmp enforced until pytest-sugar adds it. SEE https://github.com/Teemu/pytest-sugar/issues/243#issuecomment-1298658807
