# qooxdoo's compilation output folder
source-output/*

# qooxdoo contributions folder and json config file
contrib*

# npm modules
node_modules/*
source/resource/iconfont/fontawesome5
source/resource/iconfont/material

# generator outputs
/api/
/test/

# translations for the moment ignored
*.po
