--constraint ../../../requirements/constraints.txt
--constraint ../../../packages/settings-library/requirements/_base.in
--constraint ../../../packages/service-library/requirements/_base.in

faker
filelock
pydantic
pytest
pytest-asyncio
pytest-instafail
pytest-runner
pytest-sugar
pyyaml
