--constraint ../../../requirements/constraints.txt
--constraint ../../../packages/settings-library/requirements/_base.in
--constraint ../../../packages/service-library/requirements/_base.in

pydantic
pytest
pytest-aiohttp
pytest-instafail
pytest-runner
pytest-sugar
pyyaml
