exceptiongroup==1.2.1
    # via pytest
iniconfig==2.0.0
    # via pytest
packaging==24.0
    # via
    #   pytest
    #   pytest-sugar
pluggy==1.5.0
    # via pytest
pydantic==1.10.15
    # via
    #   -c requirements/../../../packages/service-library/requirements/../../../packages/models-library/requirements/../../../requirements/constraints.txt
    #   -c requirements/../../../packages/service-library/requirements/../../../packages/models-library/requirements/_base.in
    #   -c requirements/../../../packages/service-library/requirements/../../../packages/settings-library/requirements/../../../requirements/constraints.txt
    #   -c requirements/../../../packages/service-library/requirements/../../../packages/settings-library/requirements/_base.in
    #   -c requirements/../../../packages/service-library/requirements/../../../requirements/constraints.txt
    #   -c requirements/../../../packages/service-library/requirements/_base.in
    #   -c requirements/../../../packages/settings-library/requirements/../../../requirements/constraints.txt
    #   -c requirements/../../../packages/settings-library/requirements/_base.in
    #   -c requirements/../../../requirements/constraints.txt
    #   -r requirements/requirements.in
pytest==8.2.0
    # via
    #   -r requirements/requirements.in
    #   pytest-asyncio
    #   pytest-instafail
    #   pytest-sugar
pytest-asyncio==0.21.2
    # via
    #   -c requirements/../../../packages/service-library/requirements/../../../packages/models-library/requirements/../../../requirements/constraints.txt
    #   -c requirements/../../../packages/service-library/requirements/../../../packages/settings-library/requirements/../../../requirements/constraints.txt
    #   -c requirements/../../../packages/service-library/requirements/../../../requirements/constraints.txt
    #   -c requirements/../../../packages/settings-library/requirements/../../../requirements/constraints.txt
    #   -c requirements/../../../requirements/constraints.txt
    #   -r requirements/requirements.in
pytest-instafail==0.5.0
    # via -r requirements/requirements.in
pytest-runner==6.0.1
    # via -r requirements/requirements.in
pytest-sugar==1.0.0
    # via -r requirements/requirements.in
pyyaml==6.0.1
    # via
    #   -c requirements/../../../packages/service-library/requirements/../../../packages/models-library/requirements/../../../requirements/constraints.txt
    #   -c requirements/../../../packages/service-library/requirements/../../../packages/settings-library/requirements/../../../requirements/constraints.txt
    #   -c requirements/../../../packages/service-library/requirements/../../../requirements/constraints.txt
    #   -c requirements/../../../packages/service-library/requirements/_base.in
    #   -c requirements/../../../packages/settings-library/requirements/../../../requirements/constraints.txt
    #   -c requirements/../../../requirements/constraints.txt
    #   -r requirements/requirements.in
termcolor==2.4.0
    # via pytest-sugar
tomli==2.0.1
    # via pytest
typing-extensions==4.11.0
    # via pydantic
