--constraint ../../../requirements/constraints.txt
--constraint ../../../packages/settings-library/requirements/_base.in
--constraint ../../../packages/service-library/requirements/_base.in
pydantic
pytest
pytest-aiohttp
pytest-instafail
pytest-runner
pyyaml


pytest-sugar ## broken w/ pytest==7.2.0. SEE https://github.com/Teemu/pytest-sugar/issues/243
py>=1.11.0 ## NOTE: tmp enforced until pytest-sugar adds it. SEE https://github.com/Teemu/pytest-sugar/issues/243#issuecomment-1298658807
