version: '1.0'
main:
  client_outdir: ${OSPARC_SIMCORE_REPO_ROOTDIR}/services/web/client/source-output
  host: 127.0.0.1
  log_level: INFO
  port: 8080
  testing: true
db:
  enabled: True
  init_tables: True
  postgres:
    database: simcoredb
    endpoint: postgres:5432
    host: localhost
    maxsize: 5
    minsize: 1
    password: simcore
    port: 5432
    user: simcore
director:
  host: director
  port: 8001
rabbit:
  enabled: True
  channels:
    log: comp.backend.channels.log
    progress: comp.backend.channels.progress
  password: simcore
  user: simcore
smtp:
  sender: 'OSPARC support <support@osparc.io>'
  host: mail.foo.com
  port: 25
  tls: False
  username: Null
  password: Null
# s3:
#   access_key: 'Q3AM3UQ867SPQQA43P2F'
#   bucket_name: simcore
#   endpoint: play.minio.io:9000
#   secret_key: 'zuf+tfteSlswRu7BJ86wekitnifILbZam1KYY3TG'
rest:
  version: v0
  location: ${OSPARC_SIMCORE_REPO_ROOTDIR}/api/specs/webserver/v0/openapi.yaml
  #location: http://localhost:8043/api/specs/webserver/v0/openapi.yaml
  extra_urls:
    - http://localhost:8080
storage:
  host: storage
  port: 11111
