version: "1.0"
main:
  client_outdir: /usr/src/app/client
  host: 127.0.0.1
  log_level: DEBUG
  port: 8080
  testing: true
  studies_access_enabled: True
tracing:
  enabled: True
  zipkin_endpoint: http://jaeger:9411
diagnostics:
  enabled: True
director:
  host: director
  port: 8001
  version: v0
socketio:
  enabled: True
db:
  postgres:
    database: simcoredb
    endpoint: postgres:5432
    host: postgres
    maxsize: 5
    minsize: 1
    password: simcore
    port: 5432
    user: simcore
resource_manager:
  enabled: True
  resource_deletion_timeout_seconds: 900
  garbage_collection_interval_seconds: 30
  redis:
    enabled: True
    host: redis
    port: 6379
rabbit:
  enabled: True
  host: rabbit
  port: 5672
  user: simcore
  password: simcore
  channels:
    log: comp.backend.channels.log
    progress: comp.backend.channels.progress
    instrumentation: "comp.backend.channels.instrumentation"
login:
  enabled: True
  registration_invitation_required: False
  registration_confirmation_required: True
smtp:
  sender: "OSPARC support <support@osparc.io>"
  host: mail.foo.com
  port: 25
  tls: False
  username: Null
  password: Null
storage:
  host: storage
  port: 11111
  version: v0
rest:
  version: v0
projects:
  enabled: True
session:
  secret_key: "TODO: Replace with a key of at least length 32"
activity:
  enabled: True
  prometheus_host: http://prometheus
  prometheus_port: 9090
  prometheus_api_version: v1
tags:
  enabled: True
publications:
  enabled: True
