# Runs insides a container
---
version: "1.0"
main:
  host: 0.0.0.0
  port: 8080
  client_outdir: ${SIMCORE_WEB_OUTDIR}
  log_level: INFO
  testing: False
  studies_access_enabled: False
director:
  host: ${DIRECTOR_HOST}
  port: ${DIRECTOR_PORT}
  version: v0
db:
  init_tables: True
  postgres:
    database: ${POSTGRES_DB}
    endpoint: ${POSTGRES_ENDPOINT}
    user: ${POSTGRES_USER}
    password: ${POSTGRES_PASSWORD}
    host: ${POSTGRES_HOST}
    port: ${POSTGRES_PORT}
rabbit:
  user: ${RABBITMQ_USER}
  password: ${RABBITMQ_PASSWORD}
  channels:
    progress: ${RABBITMQ_PROGRESS_CHANNEL}
    log: ${RABBITMQ_LOG_CHANNEL}
# s3:
#   endpoint: ${S3_ENDPOINT}
#   access_key: ${S3_ACCESS_KEY}
#   secret_key: ${S3_SECRET_KEY}
#   bucket_name: ${S3_BUCKET_NAME}
login:
  enabled: True
  registration_invitation_required: True
  registration_confirmation_required: True
smtp:
  sender: 'OSPARC support <support@osparc.io>'
  host: ${SMTP_HOST}
  port: ${SMTP_PORT}
  tls: False
  username: Null
  password: Null
storage:
  host: ${STORAGE_HOST}
  port: ${STORAGE_PORT}
  version: v0
rest:
  version: v0
  location: http://${APIHUB_HOST}:${APIHUB_PORT}/api/specs/webserver/v0/openapi.yaml
projects:
  location: http://${APIHUB_HOST}:${APIHUB_PORT}/api/specs/webserver/v0/components/schemas/project-v0.0.1.json
session:
  # python3 -c "from cryptography.fernet import Fernet; print(Fernet.generate_key())"
  secret_key: ${WEBSERVER_SESSION_SECRET_KEY}
...
