---
version: "1.0"
main:
  host: 127.0.0.1
  port: 8080
  client_outdir: ${SIMCORE_WEB_OUTDIR}
  log_level: DEBUG
  testing: True
director:
  host: ${DIRECTOR_HOST}
  port: ${DIRECTOR_PORT}
  version: v0
db:
  postgres:
    database: ${POSTGRES_DB}
    user: ${POSTGRES_USER}
    password: ${POSTGRES_PASSWORD}
    host: ${POSTGRES_HOST}
    port: ${POSTGRES_PORT}
    minsize: 1
    maxsize: 5
    endpoint: ${POSTGRES_ENDPOINT}
rabbit:
  user: ${RABBITMQ_USER}
  password: ${RABBITMQ_PASSWORD}
  channels:
    progress: ${RABBITMQ_PROGRESS_CHANNEL}
    log: ${RABBITMQ_LOG_CHANNEL}
# s3:
#   endpoint: ${S3_ENDPOINT}
#   access_key: ${S3_ACCESS_KEY}
#   secret_key: ${S3_SECRET_KEY}
#   bucket_name: ${S3_BUCKET_NAME}
login:
  enabled: True
  registration_confirmation_required: True
smtp:
  sender: 'OSPARC support <support@osparc.io>'
  host: ${SMTP_HOST}
  port: ${SMTP_PORT}
  tls: False
  username: Null
  password: Null
storage:
  host: ${STORAGE_HOST}
  port: ${STORAGE_PORT}
  version: v0
rest:
  version: v0
  location: http://${APIHUB_HOST}:${APIHUB_PORT}/api/specs/webserver/v0/openapi.yaml
...
