version: '1.0'
main:
  client_outdir: /usr/src/app/client
  host: 127.0.0.1
  log_level: DEBUG
  port: 8080
  testing: true
  studies_access_enabled: True
  monitoring_enabled: True
tracing:
  enabled: True
  zipkin_endpoint: http://jaeger:9411
director:
  host: director
  port: 8001
  version: v0
db:
  init_tables: False
  postgres:
    database: simcoredb
    endpoint: postgres:5432
    host: postgres
    maxsize: 5
    minsize: 1
    password: simcore
    port: 5432
    user: simcore
resource_manager:
  enabled: True
rabbit:
  enabled: True
  host: rabbit
  port: 5672
  user: simcore
  password: simcore
  channels:
    log: comp.backend.channels.log
    progress: comp.backend.channels.progress
# s3:
#   access_key: 'Q3AM3UQ867SPQQA43P2F'
#   bucket_name: simcore
#   endpoint: play.minio.io:9000
#   secret_key: 'zuf+tfteSlswRu7BJ86wekitnifILbZam1KYY3TG'
login:
  enabled: True
  registration_invitation_required: False
  registration_confirmation_required: True
smtp:
  sender: 'OSPARC support <support@osparc.io>'
  host: mail.foo.com
  port: 25
  tls: False
  username: Null
  password: Null
storage:
  host: storage
  port: 11111
  version: v0
rest:
  version: v0
  location: http://localhost:8043/api/specs/webserver/v0/openapi.yaml
  extra_urls:
    - http://localhost:9081
projects:
  location: http://localhost:8043/api/specs/webserver/v0/components/schemas/project-v0.0.1.json
session:
  secret_key: "TODO: Replace with a key of at least length 32"
activity:
  enabled: True
  prometheus_host: http://prometheus
  prometheus_port: 9090
  prometheus_api_version: v1
