# Runs insides a container
---
version: "1.0"
main:
  host: 0.0.0.0
  port: 8080
  client_outdir: ${SIMCORE_WEB_OUTDIR}
  log_level: ${WEBSERVER_LOGLEVEL}
  testing: False
  studies_access_enabled: ${WEBSERVER_STUDIES_ACCESS_ENABLED}
  monitoring_enabled: ${WEBSERVER_MONITORING_ENABLED}
tracing:
  enabled: ${TRACING_ENABLED}
  zipkin_endpoint: ${TRACING_ZIPKIN_ENDPOINT}
socketio:
  redis:
    host: ${REDIS_HOST}
    port: ${REDIS_PORT}
  message_queue:
    host: ${RABBIT_HOST}
    port: ${RABBIT_PORT}
    user: ${RABBIT_USER}
    password: ${RABBIT_PASSWORD}
director:
  host: ${DIRECTOR_HOST}
  port: ${DIRECTOR_PORT}
  version: v0
db:
  init_tables: True
  postgres:
    database: ${POSTGRES_DB}
    endpoint: ${POSTGRES_ENDPOINT}
    user: ${POSTGRES_USER}
    password: ${POSTGRES_PASSWORD}
    host: ${POSTGRES_HOST}
    port: ${POSTGRES_PORT}
resource_manager:
  enabled: True
  service_deletion_timeout_seconds: ${WEBSERVER_SERVICES_DELETION_TIMEOUT_SECONDS}
rabbit:
  host: ${RABBIT_HOST}
  port: ${RABBIT_PORT}
  user: ${RABBIT_USER}
  password: ${RABBIT_PASSWORD}
  channels:
    progress: ${RABBIT_PROGRESS_CHANNEL}
    log: ${RABBIT_LOG_CHANNEL}
# s3:
#   endpoint: ${S3_ENDPOINT}
#   access_key: ${S3_ACCESS_KEY}
#   secret_key: ${S3_SECRET_KEY}
#   bucket_name: ${S3_BUCKET_NAME}
login:
  enabled: True
  registration_invitation_required: ${WEBSERVER_LOGIN_REGISTRATION_INVITATION_REQUIRED}
  registration_confirmation_required: ${WEBSERVER_LOGIN_REGISTRATION_CONFIRMATION_REQUIRED}
smtp:
  sender: 'OSPARC support <support@osparc.io>'
  host: ${SMTP_HOST}
  port: ${SMTP_PORT}
  tls: False
  username: Null
  password: Null
storage:
  host: ${STORAGE_HOST}
  port: ${STORAGE_PORT}
  version: v0
rest:
  version: v0
  location: http://${APIHUB_HOST}:${APIHUB_PORT}/api/specs/webserver/v0/openapi.yaml
projects:
  location: http://${APIHUB_HOST}:${APIHUB_PORT}/api/specs/webserver/v0/components/schemas/project-v0.0.1.json
session:
  # python3 -c "from cryptography.fernet import Fernet; print(Fernet.generate_key())"
  secret_key: ${WEBSERVER_SESSION_SECRET_KEY}
activity:
  enabled: True
  prometheus_host: ${WEBSERVER_PROMETHEUS_HOST}
  prometheus_port: ${WEBSERVER_PROMETHEUS_PORT}
  prometheus_api_version: ${WEBSERVER_PROMETHEUS_API_VERSION}
...
