{
    "extends": "google",
    "parser": "babel-eslint",
    "rules": {
        "max-len":[2, 150],
        "new-cap":"off",
        "require-jsdoc":"off",
        "linebreak-style": ["error","unix"],
        "curly": ["warn","all"],
        "block-scoped-var": "warn",
        "brace-style": ["warn","stroustrup"],
        "indent": ["warn", 2]
    }
}