paths:
  /me:
    get:
      operationId: get_my_profile
      tags:
        - user
      responses:
        "200":
          description: current user profile
          content:
            application/json:
              schema:
                $ref: "./components/schemas/me.yaml#/ProfileEnveloped"
        default:
          $ref: "#/components/responses/DefaultErrorResponse"
    put:
      operationId: update_my_profile
      tags:
        - user
      requestBody:
        content:
          application/json:
            schema:
              $ref: "./components/schemas/me.yaml#/ProfileInput"
      responses:
        "204":
          description: updated profile
        default:
          $ref: "#/components/responses/DefaultErrorResponse"

  /me/groups:
    get:
      summary: List my groups
      operationId: list_groups
      tags:
        - user
      responses:
        "200":
          description: list of the groups I belonged to
          content:
            application/json:
              schema:
                $ref: 
                  $ref: "./components/schemas/me.yaml#/UsersGroupsEnveloped"
        default:
          $ref: "#/components/responses/DefaultErrorResponse"
    patch:
      summary: Update group
      operationId: update_group
      tags:
        - user
      responses:
        
    post:
      summary: Create a new groups
      operationId: create_group
      tags:
        - user
      requestBody:
        content:
          application/json:
            schema:
              $ref: "./components/schemas/me.yaml#/UsersGroup"
      responses:
        "201":
          description: group created
          content:
            application/json:
              schema:
                $ref: "./components/schemas/me.yaml#/UsersGroupEnveloped"

        default:
          $ref: "#/components/responses/DefaultErrorResponse"
  /me/tokens:
    get:
      summary: List tokens
      operationId: list_tokens
      tags:
        - user
      responses:
        "200":
          description: list of tokens
          content:
            application/json:
              schema:
                $ref: "./components/schemas/me.yaml#/TokensArrayEnveloped"
        default:
          $ref: "#/components/responses/DefaultErrorResponse"
    post:
      summary: Create tokens
      operationId: create_tokens
      tags:
        - user
      requestBody:
        content:
          application/json:
            schema:
              # FIXME: this body should NOT be enveloped!
              $ref: "./components/schemas/me.yaml#/TokenEnveloped"
      responses:
        "201":
          description: token created
          content:
            application/json:
              schema:
                $ref: "./components/schemas/me.yaml#/TokenEnveloped"

        default:
          $ref: "#/components/responses/DefaultErrorResponse"

  /me/tokens/{service}:
    parameters:
      - name: service
        in: path
        required: true
        schema:
          type: string
    get:
      summary: Gets specific token
      operationId: get_token
      tags:
        - user
      responses:
        "200":
          description: got detailed token
          content:
            application/json:
              schema:
                $ref: "./components/schemas/me.yaml#/TokenEnveloped"
    put:
      summary: Updates token
      operationId: update_token
      tags:
        - user
      responses:
        "204":
          description: token has been successfully updated
    delete:
      summary: Delete token
      operationId: delete_token
      tags:
        - user
      responses:
        "204":
          description: token has been successfully deleted

components:
  responses:
    DefaultErrorResponse:
      $ref: "./openapi.yaml#/components/responses/DefaultErrorResponse"
