paths:
  /tags:
    get:
      tags:
      - tag
      summary: List Tags
      operationId: list_tags
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope_list_simcore_service_webserver.tags._handlers.TagGet__'
    post:
      tags:
      - tag
      summary: Create Tag
      operationId: create_tag
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TagCreate'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope_TagGet_'
  /tags/{tag_id}:
    delete:
      tags:
      - tag
      summary: Delete Tag
      operationId: delete_tag
      parameters:
      - required: true
        schema:
          title: Tag Id
          type: integer
        name: tag_id
        in: path
      responses:
        '204':
          description: Successful Response
    patch:
      tags:
      - tag
      summary: Update Tag
      operationId: update_tag
      parameters:
      - required: true
        schema:
          title: Tag Id
          type: integer
        name: tag_id
        in: path
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TagUpdate'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope_TagGet_'
components:
  schemas:
    Envelope_TagGet_:
      title: Envelope[TagGet]
      type: object
      properties:
        data:
          $ref: '#/components/schemas/TagGet'
        error:
          title: Error
    Envelope_list_simcore_service_webserver.tags._handlers.TagGet__:
      title: Envelope[list[simcore_service_webserver.tags._handlers.TagGet]]
      type: object
      properties:
        data:
          title: Data
          type: array
          items:
            $ref: '#/components/schemas/TagGet'
        error:
          title: Error
    TagAccessRights:
      title: TagAccessRights
      required:
      - read
      - write
      - delete
      type: object
      properties:
        read:
          title: Read
          type: boolean
        write:
          title: Write
          type: boolean
        delete:
          title: Delete
          type: boolean
    TagCreate:
      title: TagCreate
      required:
      - name
      - color
      type: object
      properties:
        name:
          title: Name
          type: string
        description:
          title: Description
          type: string
        color:
          title: Color
          pattern: ^#([A-Fa-f0-9]{6}|[A-Fa-f0-9]{3})$
          type: string
      additionalProperties: false
    TagGet:
      title: TagGet
      required:
      - id
      - name
      - color
      - accessRights
      type: object
      properties:
        id:
          title: Id
          exclusiveMinimum: true
          type: integer
          minimum: 0
        name:
          title: Name
          type: string
        description:
          title: Description
          type: string
        color:
          title: Color
          type: string
        accessRights:
          $ref: '#/components/schemas/TagAccessRights'
    TagUpdate:
      title: TagUpdate
      type: object
      properties:
        name:
          title: Name
          type: string
        description:
          title: Description
          type: string
        color:
          title: Color
          pattern: ^#([A-Fa-f0-9]{6}|[A-Fa-f0-9]{3})$
          type: string
      additionalProperties: false
