paths:
  /email:test:
    post:
      tags:
      - admin
      summary: Test Email
      operationId: test_email
      parameters:
      - required: false
        schema:
          title: X-Simcore-Products-Name
          type: string
        name: x-simcore-products-name
        in: header
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TestEmail'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope_Union_TestFailed__TestPassed__'
components:
  schemas:
    Envelope_Union_TestFailed__TestPassed__:
      title: Envelope[Union[TestFailed, TestPassed]]
      type: object
      properties:
        data:
          title: Data
          anyOf:
          - $ref: '#/components/schemas/TestFailed'
          - $ref: '#/components/schemas/TestPassed'
        error:
          title: Error
    HTTPValidationError:
      title: HTTPValidationError
      type: object
      properties:
        detail:
          title: Detail
          type: array
          items:
            $ref: '#/components/schemas/ValidationError'
    TestEmail:
      title: TestEmail
      required:
      - to
      type: object
      properties:
        from_:
          title: 'From '
          type: string
          description: Email sender
          format: email
        to:
          title: To
          type: string
          description: Email receiver
          format: email
        template_name:
          title: Template Name
          enum:
          - change_email_email.jinja2
          - new_2fa_code.jinja2
          - registration_email.jinja2
          - reset_password_email_failed.jinja2
          - reset_password_email.jinja2
          - service_submission.jinja2
          type: string
          default: registration_email.jinja2
        template_context:
          title: Template Context
          type: object
          default: {}
    TestFailed:
      title: TestFailed
      required:
      - test_name
      - error_type
      - error_message
      - traceback
      type: object
      properties:
        test_name:
          title: Test Name
          type: string
        error_type:
          title: Error Type
          type: string
        error_message:
          title: Error Message
          type: string
        traceback:
          title: Traceback
          type: string
    TestPassed:
      title: TestPassed
      required:
      - fixtures
      - info
      type: object
      properties:
        fixtures:
          title: Fixtures
          type: object
        info:
          title: Info
          type: object
    ValidationError:
      title: ValidationError
      required:
      - loc
      - msg
      - type
      type: object
      properties:
        loc:
          title: Location
          type: array
          items:
            anyOf:
            - type: string
            - type: integer
        msg:
          title: Message
          type: string
        type:
          title: Error Type
          type: string
