paths:
  /services:
    get:
      tags:
      - nih-sparc
      summary: List Services
      description: Returns a list latest version of services
      operationId: list_services
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope_list_simcore_service_webserver.studies_dispatcher._rest_handlers.ServiceGet__'
  /viewers:
    get:
      tags:
      - nih-sparc
      summary: List Viewers
      description: 'Lists all publically available viewers


        Notice that this might contain multiple services for the same filetype


        If file_type is provided, then it filters viewer for that filetype'
      operationId: list_viewers
      parameters:
      - required: false
        schema:
          title: File Type
          type: string
        name: file_type
        in: query
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope_list_simcore_service_webserver.studies_dispatcher._rest_handlers.Viewer__'
  /viewers/default:
    get:
      tags:
      - nih-sparc
      summary: List Default Viewers
      description: 'Lists the default viewer for each supported filetype


        This was interfaced as a subcollection of viewers because it is a very common
        use-case


        Only publicaly available viewers


        If file_type is provided, then it filters viewer for that filetype'
      operationId: list_default_viewers
      parameters:
      - required: false
        schema:
          title: File Type
          type: string
        name: file_type
        in: query
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Envelope_list_simcore_service_webserver.studies_dispatcher._rest_handlers.Viewer__'
  /view:
    get:
      tags:
      - nih-sparc
      summary: Get Redirection To Viewer
      description: Opens a viewer in osparc for data in the NIH-sparc portal
      operationId: get_redirection_to_viewer
      parameters:
      - required: true
        schema:
          title: File Type
          type: string
        name: file_type
        in: query
      - required: true
        schema:
          title: Viewer Key
          pattern: ^simcore/services/((comp|dynamic|frontend))/([a-z0-9][a-z0-9_.-]*/)*([a-z0-9-_]+[a-z0-9])$
          type: string
        name: viewer_key
        in: query
      - required: true
        schema:
          title: File Size
          exclusiveMinimum: true
          type: integer
          minimum: 0
        name: file_size
        in: query
      - required: true
        schema:
          title: Download Link
          maxLength: 2083
          minLength: 1
          type: string
          format: uri
        name: download_link
        in: query
      - required: false
        schema:
          title: File Name
          type: string
          default: unknown
        name: file_name
        in: query
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServiceKeyVersion'
        required: true
      responses:
        '302':
          description: Opens osparc and starts viewer for selected data
  /study/{study_id}:
    get:
      tags:
      - nih-sparc
      summary: Get Redirection To Study Page
      description: Opens a study published in osparc
      operationId: get_redirection_to_study_page
      parameters:
      - required: true
        schema:
          title: Study Id
          type: string
          format: uuid
        name: study_id
        in: path
      responses:
        '302':
          description: Opens osparc and opens a copy of publised study
components:
  schemas:
    Envelope_list_simcore_service_webserver.studies_dispatcher._rest_handlers.ServiceGet__:
      title: Envelope[list[simcore_service_webserver.studies_dispatcher._rest_handlers.ServiceGet]]
      type: object
      properties:
        data:
          title: Data
          type: array
          items:
            $ref: '#/components/schemas/ServiceGet'
        error:
          title: Error
    Envelope_list_simcore_service_webserver.studies_dispatcher._rest_handlers.Viewer__:
      title: Envelope[list[simcore_service_webserver.studies_dispatcher._rest_handlers.Viewer]]
      type: object
      properties:
        data:
          title: Data
          type: array
          items:
            $ref: '#/components/schemas/Viewer'
        error:
          title: Error
    ServiceGet:
      title: ServiceGet
      required:
      - key
      - title
      - description
      - thumbnail
      - view_url
      type: object
      properties:
        key:
          title: Key
          pattern: ^simcore/services/((comp|dynamic|frontend))/([a-z0-9][a-z0-9_.-]*/)*([a-z0-9-_]+[a-z0-9])$
          type: string
          description: Service key ID
        title:
          title: Title
          type: string
          description: Service name for display
        description:
          title: Description
          type: string
          description: Long description of the service
        thumbnail:
          title: Thumbnail
          maxLength: 2083
          minLength: 1
          type: string
          description: Url to service thumbnail
          format: uri
        file_extensions:
          title: File Extensions
          type: array
          items:
            type: string
          description: File extensions that this service can process
        view_url:
          title: View Url
          maxLength: 2083
          minLength: 1
          type: string
          description: Redirection to open a service in osparc (see /view)
          format: uri
      example:
        key: simcore/services/dynamic/sim4life
        title: Sim4Life Mattermost
        description: It is also sim4life for the web
        thumbnail: https://via.placeholder.com/170x120.png
        file_extensions:
        - smash
        - h5
        view_url: https://host.com/view?viewer_key=simcore/services/dynamic/raw-graphs&viewer_version=1.2.3
    ServiceKeyVersion:
      title: ServiceKeyVersion
      required:
      - key
      - version
      type: object
      properties:
        key:
          title: Key
          pattern: ^simcore/services/((comp|dynamic|frontend))/([a-z0-9][a-z0-9_.-]*/)*([a-z0-9-_]+[a-z0-9])$
          type: string
          description: distinctive name for the node based on the docker registry
            path
        version:
          title: Version
          pattern: ^(0|[1-9]\d*)(\.(0|[1-9]\d*)){2}(-(0|[1-9]\d*|\d*[-a-zA-Z][-\da-zA-Z]*)(\.(0|[1-9]\d*|\d*[-a-zA-Z][-\da-zA-Z]*))*)?(\+[-\da-zA-Z]+(\.[-\da-zA-Z-]+)*)?$
          type: string
          description: service version number
      description: This pair uniquely identifies a services
    Viewer:
      title: Viewer
      required:
      - title
      - file_type
      - view_url
      type: object
      properties:
        title:
          title: Title
          type: string
          description: Short formatted label with name and version of the viewer
        file_type:
          title: File Type
          type: string
          description: Identifier for the file type
        view_url:
          title: View Url
          maxLength: 2083
          minLength: 1
          type: string
          description: Base url to execute viewer. Needs appending file_size,[file_name]
            and download_link as query parameters
          format: uri
      description: "API model for a viewer resource\n\nA viewer is a service with\
        \ an associated filetype.\nYou can think of it as a tuple (filetype, service)\n\
        \nThe service could consume other filetypes BUT at this\ninterface this is\
        \ represented in yet another viewer resource\n\nFor instance, the same service\
        \ can be in two different viewer resources\n  - viewer1=(JPEG, RawGraph service)\n\
        \  - viewer2=(CSV, RawGraph service)\n\nA viewer can be dispatched using the\
        \ view_url and appending the"
