paths:
  /computation/pipeline/{project_id}/start:
    post:
      description: Starts a pipeline of a given project
      tags:
        - service
      operationId: start_pipeline
      parameters:
        - $ref: "#/components/parameters/ProjectId"
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                force_restart:
                  type: boolean
                  default: false
                  description: "DEPRECATED if true will force re-running all dependent nodes"
                  deprecated: true
                cluster_id:
                  type: integer
                  description: the computation shall use the cluster described by its id, 0 is the default cluster
                  default: 0
                  minimum: 0
                subgraph:
                  description: The node uuids selected for running a partial pipeline
                  type: array
                  uniqueItems: true
                  items:
                    type: string
                    format: uuid

      responses:
        "201":
          description: Successfully started the pipeline
          content:
            application/json:
              schema:
                $ref: "./components/schemas/pipeline.yaml#/components/schemas/PipelineCreatedEnveloped"
        default:
          $ref: "#/components/responses/DefaultErrorResponse"

  /computation/pipeline/{project_id}/stop:
    post:
      description: Stops a pipeline of a given project
      tags:
        - service
      operationId: stop_pipeline
      parameters:
        - $ref: "#/components/parameters/ProjectId"
      responses:
        "204":
          description: Succesffully stopped the pipeline
        default:
          $ref: "#/components/responses/DefaultErrorResponse"
  # PROJECT SERVICES -----------------------------------------------------------------
components:
  parameters:
    ProjectId:
      in: path
      name: project_id
      required: true
      description: the uuid of the project
      schema:
        type: string
        # format: uuid
        example: 123e4567-e89b-12d3-a456-426655440000

  responses:
    DefaultErrorResponse:
      $ref: "./openapi.yaml#/components/responses/DefaultErrorResponse"
