paths:
  /computation/pipeline/{project_id}/start:
    post:
      description: Starts a pipeline of a given project
      tags:
        - service
      operationId: start_pipeline
      parameters:
        - $ref: "#/components/parameters/ProjectId"
      responses:
        "200":
          description: Succesffully started the pipeline
          content:
            application/json:
              schema:
                $ref: "./components/schemas/pipeline.yaml#/components/schemas/PipelineCreatedEnveloped"
        default:
          $ref: "#/components/responses/DefaultErrorResponse"
  # PROJECT SERVICES -----------------------------------------------------------------
components:
  parameters:
    ProjectId:
      in: path
      name: project_id
      required: true
      description: the uuid of the project
      schema:
        type: string
        # format: uuid
        example: 123e4567-e89b-12d3-a456-426655440000

  responses:
    DefaultErrorResponse:
      $ref: "./openapi.yaml#/components/responses/DefaultErrorResponse"
