openapi: 3.0.0
info:
  title: "osparc-simcore web API"
  version: 0.16.0
  description: "API designed for the front-end app"
  contact:
    name: IT'IS Foundation
    email: support@simcore.io
  license:
    name: MIT
    url: https://github.com/ITISFoundation/osparc-simcore/blob/master/LICENSE
servers:
  - description: API server
    url: "/v0"
  - description: Development server
    url: http://{host}:{port}/{basePath}
    variables:
      host:
        default: "localhost"
      port:
        default: "8001"
      basePath:
        enum:
          - v0
        default: v0
tags:
  - name: admin
  - name: authentication
  - name: user
  - name: project
  - name: cluster
  - name: catalog
  - name: storage
  - name: activity
  - name: tag
  - name: tasks
    description: |
      Asynchronously running tasks
  - name: node
    description: |
      The simcore frontend provides a bunch of custom ui elements for nodes to interact with users.
      The frontend uses these api calls to query the nodes about the gui elemets they want to use, and it
      defines the protocol for the frontend to interact with the node.
  - name: configuration
  - name: maintenance
  - name: notification
  - name: publication
    description: |
      oSPARC users can make publications. Starting from submission of new service candidates, but this could
      end up accepting other types of publications.
  - name: viewer
  - name: repository

paths:
  # ADMIN -------------
  /email:test:
    $ref: "./openapi-admin.yaml#/paths/~1email:test"

  # DIAGNOSTICS ---------------------------------------------------------
  /:
    $ref: "./openapi-diagnostics.yaml#/paths/~1"

  /health:
    $ref: "./openapi-diagnostics.yaml#/paths/~1health"

  /status:
    $ref: "./openapi-diagnostics.yaml#/paths/~1status"

  /status/diagnostics:
    $ref: "./openapi-diagnostics.yaml#/paths/~1status~1diagnostics"

  /status/{service_name}:
    $ref: "./openapi-diagnostics.yaml#/paths/~1status~1{service_name}"

  /config:
    $ref: "./openapi-diagnostics.yaml#/paths/~1config"

  # AUTHENTICATION & AUTHORIZATION --------------------------------------

  /auth/register/invitations:check:
    $ref: "./openapi-auth.yaml#/paths/~1auth~1register~1invitations:check"

  /auth/register:
    $ref: "./openapi-auth.yaml#/paths/~1auth~1register"

  /auth/two_factor:resend:
    $ref: "./openapi-auth.yaml#/paths/~1auth~1two_factor:resend"

  /auth/verify-phone-number:
    $ref: "./openapi-auth.yaml#/paths/~1auth~1verify-phone-number"

  /auth/validate-code-register:
    $ref: "./openapi-auth.yaml#/paths/~1auth~1validate-code-register"

  /auth/login:
    $ref: "./openapi-auth.yaml#/paths/~1auth~1login"

  /auth/validate-code-login:
    $ref: "./openapi-auth.yaml#/paths/~1auth~1validate-code-login"

  /auth/logout:
    $ref: "./openapi-auth.yaml#/paths/~1auth~1logout"

  /auth/reset-password:
    $ref: "./openapi-auth.yaml#/paths/~1auth~1reset-password"

  /auth/reset-password/{code}:
    $ref: "./openapi-auth.yaml#/paths/~1auth~1reset-password~1{code}"

  /auth/change-email:
    $ref: "./openapi-auth.yaml#/paths/~1auth~1change-email"

  /auth/change-password:
    $ref: "./openapi-auth.yaml#/paths/~1auth~1change-password"

  /auth/confirmation/{code}:
    $ref: "./openapi-auth.yaml#/paths/~1auth~1confirmation~1{code}"

  /auth/api-keys:
    $ref: "./openapi-auth.yaml#/paths/~1auth~1api-keys"
  # USER SETTINGS ------------------------------------------------------------------

  /me:
    $ref: "./openapi-user.yaml#/paths/~1me"

  /me/tokens:
    $ref: "./openapi-user.yaml#/paths/~1me~1tokens"

  /me/tokens/{service}:
    $ref: "./openapi-user.yaml#/paths/~1me~1tokens~1{service}"

  # GROUP SETTINGS ------------------------------------------------------------------

  /groups:
    $ref: "./openapi-groups.yaml#/paths/~1groups"

  /groups/{gid}:
    $ref: "./openapi-groups.yaml#/paths/~1groups~1{gid}"

  /groups/{gid}/users:
    $ref: "./openapi-groups.yaml#/paths/~1groups~1{gid}~1users"

  /groups/{gid}/users/{uid}:
    $ref: "./openapi-groups.yaml#/paths/~1groups~1{gid}~1users~1{uid}"

  /groups/{gid}/classifiers:
    $ref: "./openapi-groups.yaml#/paths/~1groups~1{gid}~1classifiers"

  /groups/sparc/classifiers/scicrunch-resources/{rrid}:
    $ref: "./openapi-groups.yaml#/paths/~1groups~1sparc~1classifiers~1scicrunch-resources~1{rrid}"

  /groups/sparc/classifiers/scicrunch-resources:search:
    $ref: "./openapi-groups.yaml#/paths/~1groups~1sparc~1classifiers~1scicrunch-resources:search"

  # DATA STORAGE SERVICES ----------------------------------------------------------

  /storage/locations:
    $ref: "./openapi-storage.yaml#/paths/~1storage~1locations"

  /storage/locations/{location_id}:sync:
    $ref: "./openapi-storage.yaml#/paths/~1storage~1locations~1{location_id}:sync"

  /storage/locations/{location_id}/files/metadata:
    $ref: "./openapi-storage.yaml#/paths/~1storage~1locations~1{location_id}~1files~1metadata"

  /storage/locations/{location_id}/files/{file_id}:
    $ref: "./openapi-storage.yaml#/paths/~1storage~1locations~1{location_id}~1files~1{file_id}"

  /storage/locations/{location_id}/files/{file_id}:complete:
    $ref: "./openapi-storage.yaml#/paths/~1storage~1locations~1{location_id}~1files~1{file_id}:complete"

  /storage/locations/{location_id}/files/{file_id}:abort:
    $ref: "./openapi-storage.yaml#/paths/~1storage~1locations~1{location_id}~1files~1{file_id}:abort"

  /storage/locations/{location_id}/files/{file_id}:complete/futures/{future_id}:
    $ref: "./openapi-storage.yaml#/paths/~1storage~1locations~1{location_id}~1files~1{file_id}:complete~1futures~1{future_id}"

  /storage/locations/{location_id}/files/{file_id}/metadata:
    $ref: "./openapi-storage.yaml#/paths/~1storage~1locations~1{location_id}~1files~1{file_id}~1metadata"

  /storage/locations/{location_id}/datasets/{dataset_id}/metadata:
    $ref: "./openapi-storage.yaml#/paths/~1storage~1locations~1{location_id}~1datasets~1{dataset_id}~1metadata"

  /storage/locations/{location_id}/datasets:
    $ref: "./openapi-storage.yaml#/paths/~1storage~1locations~1{location_id}~1datasets"

  # SERVICES ------------------------------------------------------------------------
  /computations/{project_id}:
    $ref: "./openapi-computations.yaml#/paths/computations_project_id"
  /computations/{project_id}:start:
    $ref: "./openapi-computations.yaml#/paths/computations_project_id_start"
  /computations/{project_id}:stop:
    $ref: "./openapi-computations.yaml#/paths/computations_project_id_stop"

  # PROJECT SERVICES -----------------------------------------------------------------

  /projects:
    $ref: "./openapi-projects.yaml#/paths/~1projects"

  /projects/active:
    $ref: "./openapi-projects.yaml#/paths/~1projects~1active"

  /projects/{project_id}:
    $ref: "./openapi-projects.yaml#/paths/~1projects~1{project_id}"

  /projects/{project_id}:open:
    $ref: "./openapi-projects.yaml#/paths/~1projects~1{project_id}~1open"

  /projects/{project_id}/state:
    $ref: "./openapi-projects.yaml#/paths/~1projects~1{project_id}~1state"

  /projects/{project_id}:xport: # do not change there "export" will not work
    $ref: "./openapi-projects.yaml#/paths/~1projects~1{project_id}~1xport"

  /projects/{project_id}:duplicate:
    $ref: "./openapi-projects.yaml#/paths/~1projects~1{project_id}~1duplicate"

  /projects:import:
    $ref: "./openapi-projects.yaml#/paths/~1projects~1import"

  /projects/{project_id}:close:
    $ref: "./openapi-projects.yaml#/paths/~1projects~1{project_id}~1close"

  /projects/{project_id}/nodes:
    $ref: "./openapi-projects.yaml#/paths/~1projects~1{project_id}~1nodes"

  /projects/{project_id}/nodes/{node_id}:
    $ref: "./openapi-projects.yaml#/paths/~1projects~1{project_id}~1nodes~1{node_id}"

  /projects/{project_id}/nodes/{node_id}:retrieve:
    $ref: "./openapi-projects.yaml#/paths/~1projects~1{project_id}~1nodes~1{node_id}~1retrieve"

  /projects/{project_id}/nodes/{node_id}:start:
    $ref: "./openapi-projects.yaml#/paths/~1projects~1{project_id}~1nodes~1{node_id}~1start"

  /projects/{project_id}/nodes/{node_id}:stop:
    $ref: "./openapi-projects.yaml#/paths/~1projects~1{project_id}~1nodes~1{node_id}~1stop"

  /projects/{project_id}/nodes/{node_id}:restart:
    $ref: "./openapi-projects.yaml#/paths/~1projects~1{project_id}~1nodes~1{node_id}~1restart"

  /projects/{project_id}/nodes/{node_id}/resources:
    $ref: "./openapi-projects.yaml#/paths/~1projects~1{project_id}~1nodes~1{node_id}~1resources"

  /projects/{project_id}/inputs:
    $ref: "./openapi-projects-ports.yaml#/paths/~1projects~1{project_id}~1inputs"

  /projects/{project_id}/outputs:
    $ref: "./openapi-projects-ports.yaml#/paths/~1projects~1{project_id}~1outputs"

  /projects/{project_id}/metadata/ports:
    $ref: "./openapi-projects-ports.yaml#/paths/~1projects~1{project_id}~1metadata~1ports"

  /nodes/{nodeInstanceUUID}/outputUi/{outputKey}:
    $ref: "./openapi-node-v0.0.1.yaml#/paths/~1nodes~1{nodeInstanceUUID}~1outputUi~1{outputKey}"

  /nodes/{nodeInstanceUUID}/outputUi/{outputKey}/{apiCall}:
    $ref: "./openapi-node-v0.0.1.yaml#/paths/~1nodes~1{nodeInstanceUUID}~1outputUi~1{outputKey}~1{apiCall}"

  /nodes/{nodeInstanceUUID}/iframe:
    $ref: "./openapi-node-v0.0.1.yaml#/paths/~1nodes~1{nodeInstanceUUID}~1iframe"

  /projects/{study_uuid}/tags/{tag_id}:
    $ref: "./openapi-projects.yaml#/paths/~1projects~1{study_uuid}~1tags~1{tag_id}"

  # META-PROJECTS -------------------------------------------------------------------------

  /projects/{project_uuid}/checkpoint/{ref_id}/iterations:
    $ref: "./openapi-meta-projects.yaml#/paths/~1projects~1{project_uuid}~1checkpoint~1{ref_id}~1iterations"

  /projects/{project_uuid}/checkpoint/{ref_id}/iterations/{iter_id}:
    $ref: "./openapi-meta-projects.yaml#/paths/~1projects~1{project_uuid}~1checkpoint~1{ref_id}~1iterations~1{iter_id}"

  /projects/{project_uuid}/checkpoint/{ref_id}/iterations/-/results:
    $ref: "./openapi-meta-projects.yaml#/paths/~1projects~1{project_uuid}~1checkpoint~1{ref_id}~1iterations~1-~1results"

  /projects/{project_uuid}/checkpoint/{ref_id}/iterations/{iter_id}/results:
    $ref: "./openapi-meta-projects.yaml#/paths/~1projects~1{project_uuid}~1checkpoint~1{ref_id}~1iterations~1{iter_id}~1results"

  # REPOSITORY -------------------------------------------------------------------------
  /repos/projects:
    $ref: "./openapi-version-control.yaml#/paths/~1repos~1projects"

  "/repos/projects/{project_uuid}/checkpoints":
    $ref: "./openapi-version-control.yaml#/paths/~1repos~1projects~1{project_uuid}~1checkpoints"

  "/repos/projects/{project_uuid}/checkpoints/HEAD":
    $ref: "./openapi-version-control.yaml#/paths/~1repos~1projects~1{project_uuid}~1checkpoints~1HEAD"

  "/repos/projects/{project_uuid}/checkpoints/{ref_id}":
    $ref: "./openapi-version-control.yaml#/paths/~1repos~1projects~1{project_uuid}~1checkpoints~1{ref_id}"

  "/repos/projects/{project_uuid}/checkpoints/{ref_id}:checkout":
    $ref: "./openapi-version-control.yaml#/paths/~1repos~1projects~1{project_uuid}~1checkpoints~1{ref_id}:checkout"

  "/repos/projects/{project_uuid}/checkpoints/{ref_id}/workbench/view":
    $ref: "./openapi-version-control.yaml#/paths/~1repos~1projects~1{project_uuid}~1checkpoints~1{ref_id}~1workbench~1view"

  # ACTIVITY -------------------------------------------------------------------------
  /activity/status:
    $ref: "./openapi-activity.yaml#/paths/~1activity~1status"

  # TAGS -------------------------------------------------------------------------
  /tags:
    $ref: "./openapi-tags.yaml#/paths/~1tags"

  /tags/{tag_id}:
    $ref: "./openapi-tags.yaml#/paths/~1tags~1{tag_id}"

  # NOTIFICATIONS -------------------------------------------------------------------------
  /notifications:
    $ref: "./openapi-notifications.yaml#/paths/~notifications"

  # PUBLICATIONS -------------------------------------------------------------------------
  /publications/service-submission:
    $ref: "./openapi-publications.yaml#/paths/~1publications~1service-submission"

  # CATALOG -------------------------------------------------------------------------
  /catalog/dags:
    $ref: "./openapi-catalog.yaml#/paths/~1catalog~1dags"
  /catalog/dags/{dag_id}:
    $ref: "./openapi-catalog.yaml#/paths/~1catalog~1dags~1{dag_id}"

  /catalog/services:
    $ref: "./openapi-catalog.yaml#/paths/catalog_services"
  /catalog/services/{service_key}/{service_version}:
    $ref: "./openapi-catalog.yaml#/paths/catalog_services_service_key_service_version"
  /catalog/services/{service_key}/{service_version}/inputs:
    $ref: "./openapi-catalog.yaml#/paths/catalog_services_service_key_service_version_inputs"
  /catalog/services/{service_key}/{service_version}/inputs/{input_key}:
    $ref: "./openapi-catalog.yaml#/paths/catalog_services_service_key_service_version_inputs_input_key"
  /catalog/services/{service_key}/{service_version}/inputs:match:
    $ref: "./openapi-catalog.yaml#/paths/catalog_services_service_key_service_version_inputs_match"
  /catalog/services/{service_key}/{service_version}/outputs:
    $ref: "./openapi-catalog.yaml#/paths/catalog_services_service_key_service_version_outputs"
  /catalog/services/{service_key}/{service_version}/outputs/{output_key}:
    $ref: "./openapi-catalog.yaml#/paths/catalog_services_service_key_service_version_outputs_output_key"
  /catalog/services/{service_key}/{service_version}/outputs:match:
    $ref: "./openapi-catalog.yaml#/paths/catalog_services_service_key_service_version_outputs_match"
  /catalog/services/{service_key}/{service_version}/resources:
    $ref: "./openapi-catalog.yaml#/paths/catalog_services_service_key_service_version_resources"

  # CLUSTER -------------------------------------------------------------------------
  /clusters:ping:
    $ref: "./openapi-clusters.yaml#/paths/director_v2_clusters_ping"
  /clusters:
    $ref: "./openapi-clusters.yaml#/paths/~1clusters"
  /clusters/{cluster_id}:
    $ref: "./openapi-clusters.yaml#/paths/~1clusters~1{cluster_id}"
  /clusters/{cluster_id}:ping:
    $ref: "./openapi-clusters.yaml#/paths/director_v2_clusters_cluster_id_ping"
  /clusters/{cluster_id}/details:
    $ref: "./openapi-clusters.yaml#/paths/director_v2_clusters_cluster_id_details"

  # TASKS --------------------------------------------------------------------------
  /tasks:
    $ref: "./openapi-tasks.yaml#/paths/~1tasks"

  /tasks/{task_id}:
    $ref: "./openapi-tasks.yaml#/paths/~1tasks~1{task_id}"

  /tasks/{task_id}/result:
    $ref: "./openapi-tasks.yaml#/paths/~1tasks~1{task_id}~1result"

  # VIEWER -------------------------------------------------------------------------
  /viewers:
    $ref: "./openapi-viewer.yaml#/paths/~1viewers"

  /viewers/default:
    $ref: "./openapi-viewer.yaml#/paths/~1viewers~1default"

components:
  responses:
    DefaultErrorResponse:
      description: Default http error response body
      content:
        application/json:
          schema:
            $ref: "./components/schemas/error.yaml#/ErrorEnveloped"
