# TODO: sa.ORMs so that we can convert with pydantic and use __table__ with aiopg

import sqlalchemy as sa
from sqlalchemy import Column, Integer, String

from simcore_postgres_database.base import Base


class {{ cls_name(rn) }}(Base):
    """ Table with

        Managed  by the catalog's service
    """

    __tablename__ = "{{ rnp }}"

    id = Column(Integer, primary_key=True, index=True)
    key = Column(String, index=True)
    version = Column(String)
    name = Column(String, nullable=False)
    description = Column(String, nullable=True)
    contact = Column(String, index=True)
    data = Column(sa.JSON, nullable=False)


{{ rnp }} = {{ rncc }}.__table__
