docker~=3.7
sqlalchemy~=1.3.0 # https://nvd.nist.gov/vuln/detail/CVE-2019-7164
tenacity~=4.12

./../..
./../../../../../packages/simcore-sdk
./../../../../../packages/service-library
./../../../../../packages/director-sdk/python
