{% trans %}Dear Support team,{% endtrans %}

{% trans %}We have received the following request form for an account:{% endtrans %}

- Product: **{{ product.display_name }}**
- Host: **{{ host }}**

{{ dumps(request_form) }}

{% trans %}Some details about the requested product follow:{% endtrans %}

{{ dumps(product_info) }}

{% trans %}To validate the request form, here you can get further info on this request:{% endtrans %}

{{ dumps(ipinfo) }}

{% trans %}TIP: Use https://ipinfo.io/ to find out more information on the IP.{% endtrans %}
