@font-face {
  font-family: "Manrope";
  font-weight: normal;
  font-style: normal;
  src: url("Manrope/Manrope-VariableFont_wght.ttf") format("truetype");
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.rotate {
  animation: rotation 2s infinite linear;
}

.rotateSlow {
  animation: rotation 4s infinite linear;
}

.qx-form-button,
.qx-form-button-hover,
.qx-form-button-focus,
.qx-form-button-active {
  background-clip: border-box;
}

/* Chrome, Edge, Safari */
input::-webkit-search-cancel-button {
  appearance: none;
  display: none;
}

/* Fully remove searchfield appearance, cross button */
input[type="search"] {
  appearance: textfield;
}
