@font-face {
  font-family: "Manrope";
  font-weight: normal;
  font-style: normal;
  src: url("Manrope/Manrope-VariableFont_wght.ttf") format("truetype");
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.rotate {
  animation: rotation 1.5s infinite linear;
}

.verticalText {
  writing-mode: lr-tb;
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
}

.rotated {
  transform: rotateZ(180deg);
}

.qx-form-button,
.qx-form-button-hover,
.qx-form-button-focus,
.qx-form-button-active {
  background-clip: border-box;
}

@keyframes clouds-transition {
  0% {
    background-position: right -813px bottom -1355px, left 30px bottom, right -230px top -125px;
  }
  100% {
    background-position: left -413px bottom -355px, left 30px bottom, left -230px bottom -125px;
  }
}
