@font-face {
  font-family: "Manrope";
  font-weight: normal;
  font-style: normal;
  src: url("Manrope/Manrope-VariableFont_wght.ttf") format("truetype");
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.rotate {
  animation: rotation 1.5s infinite linear;
}

.verticalText {
  writing-mode: lr-tb;
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
}

.rotated {
  transform: rotateZ(180deg);
}
