
openapi-core~=0.8.0 # there is an issue validating "number" type 3 is considered wrong

aiohttp
openapi-spec-validator
jsonschema
requests
requests-html

pytest
pytest-cov
pytest-docker

coveralls
codecov
