version: "3.8"
services:
  postgres:
    image: "postgres:14.8-alpine@sha256:150dd39ccb7ae6c7ba6130c3582c39a30bb5d3d22cb08ad0ba37001e3f829abc"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    init: true
    environment:
      POSTGRES_USER: test
      POSTGRES_PASSWORD: test
      POSTGRES_DB: test
      POSTGRES_HOST: 127.0.0.1
      POSTGRES_PORT: 5432
    ports:
      - "5432:5432"
    # https://www.postgresql.org/docs/10/runtime-config-logging.html#GUC-LOG-STATEMENT
    command:
      [
        "postgres",
        "-c",
        "log_connections=true",
        "-c",
        "log_disconnections=true",
        "-c",
        "log_duration=true",
        "-c",
        "log_line_prefix=[%p] [%a] [%c] [%x] ",
        "-c",
        "tcp_keepalives_idle=600",
        "-c",
        "tcp_keepalives_interval=600",
        "-c",
        "tcp_keepalives_count=5"
      ]
  adminer:
    image: adminer:4.8.1
    init: true
    environment:
      - ADMINER_DEFAULT_SERVER=postgres
      - ADMINER_DESIGN=nette
      - ADMINER_PLUGINS=json-column
    ports:
      - 18080:8080
    depends_on:
      - postgres

volumes:
  postgres_data:
    name: ${POSTGRES_DATA_VOLUME}
