#
# Used in development to compile source code using a running qooxdoo-kit container
#
services:
  qooxdoo-kit:
    image: itisfoundation/qooxdoo-kit:${QOOXDOO_KIT_TAG}
    volumes:
      - '../:/project'
    ports:
      - '8080:8080'
    working_dir: /project
    environment:
      NODE_OPTIONS: "--max-old-space-size=5120"
    command: >
      qx serve --set qx.allowUrlSettings=true
        --set-env osparc.vcsOriginUrl="${VCS_URL}"
        --set-env osparc.vcsRef="${VCS_REF}"
        --set-env osparc.vcsRefClient="${VCS_REF_CLIENT}"
        --set-env osparc.vcsStatusClient="${VCS_STATUS_CLIENT}"
