#
# Includes all adjancent services for testing/development purposes
#
version: "3.8"
services:
  postgres:
    image: postgres:14.5-alpine@sha256:db802f226b620fc0b8adbeca7859eb203c8d3c9ce5d84870fadee05dea8f50ce
    init: true
    environment:
      - POSTGRES_USER=${POSTGRES_USER:-test}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD:-test}
      - POSTGRES_DB=${POSTGRES_PASSWORD:-test}
      - POSTGRES_HOST=${POSTGRES_HOST:-localhost}
      - POSTGRES_PORT=${POSTGRES_PORT:-5432}
    ports:
      - "5432:5432"
    # https://www.postgresql.org/docs/10/runtime-config-logging.html#GUC-LOG-STATEMENT
    command:
      [
        "postgres",
        "-c",
        "log_connections=true",
        "-c",
        "log_disconnections=true",
        "-c",
        "log_duration=true",
        "-c",
        "log_line_prefix=[%p] [%a] [%c] [%x] "
      ]
  adminer:
    image: adminer
    init: true
    ports:
      - 18080:8080
    depends_on:
      - postgres
  director:
    image: local/director:production
    init: true
    environment:
      - REGISTRY_URL=${REGISTRY_URL}
      - REGISTRY_AUTH=${REGISTRY_AUTH}
      - REGISTRY_USER=${REGISTRY_USER}
      - REGISTRY_PW=${REGISTRY_PW}
      - REGISTRY_SSL=${REGISTRY_SSL}
      - DIRECTOR_REGISTRY_CACHING=${DIRECTOR_REGISTRY_CACHING}
      - DIRECTOR_REGISTRY_CACHING_TTL=${DIRECTOR_REGISTRY_CACHING_TTL}
      - DIRECTOR_SERVICES_CUSTOM_CONSTRAINTS=${DIRECTOR_SERVICES_CUSTOM_CONSTRAINTS}
      - DIRECTOR_SELF_SIGNED_SSL_SECRET_ID=${DIRECTOR_SELF_SIGNED_SSL_SECRET_ID}
      - DIRECTOR_SELF_SIGNED_SSL_SECRET_NAME=${DIRECTOR_SELF_SIGNED_SSL_SECRET_NAME}
      - DIRECTOR_SELF_SIGNED_SSL_FILENAME=${DIRECTOR_SELF_SIGNED_SSL_FILENAME}
      - POSTGRES_ENDPOINT=${POSTGRES_ENDPOINT}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_HOST=${POSTGRES_HOST}
      - POSTGRES_PORT=${POSTGRES_PORT}
      - S3_ENDPOINT=${S3_ENDPOINT}
      - S3_ACCESS_KEY=${S3_ACCESS_KEY}
      - S3_SECRET_KEY=${S3_SECRET_KEY}
      - S3_BUCKET_NAME=${S3_BUCKET_NAME}
      - STORAGE_ENDPOINT=${STORAGE_ENDPOINT}
      - EXTRA_HOSTS_SUFFIX=${EXTRA_HOSTS_SUFFIX:-undefined}
      - SIMCORE_SERVICES_NETWORK_NAME=interactive_services_subnet
      - MONITORING_ENABLED=${MONITORING_ENABLED:-True}
      - TRACING_ENABLED=${TRACING_ENABLED:-True}
      - TRACING_ZIPKIN_ENDPOINT=${TRACING_ZIPKIN_ENDPOINT:-http://jaeger:9411}
      - TRAEFIK_SIMCORE_ZONE=${TRAEFIK_SIMCORE_ZONE:-internal_simcore_stack}
      - LOGLEVEL=${LOG_LEVEL:-WARNING}
      - SWARM_STACK_NAME=${SWARM_STACK_NAME:-simcore}
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock"
    ports:
      - "28080:8080"
  registry:
    image: registry:2
    init: true
    ports:
      - "5000:5000"
