aio-pika
coverage==4.5.1 # TODO: Downgraded because of a bug https://github.com/nedbat/coveragepy/issues/716
pytest
pytest-aiohttp
pytest-cov
pytest-instafail
pytest-mock
pytest-runner
pytest-sugar
docker
tenacity
pyyaml>=5.3         # Vulnerable
