:8888 {
    handle {
        basicauth {
            {$DOCKER_API_PROXY_USER} {$DOCKER_API_PROXY_ENCRYPTED_PASSWORD}
        }

        reverse_proxy http://localhost:8889 {
            health_uri /version
        }
    }
}
