# List of packages added to setup:tests_require
#   Outsourced here so can be installed in base-stage of the web/Dockerfile
coveralls==1.5.1
faker
openapi-core==0.7.1
openapi_spec_validator==0.2.4
pylint==2.1.1
pytest-aiohttp
pytest==3.10.0
pytest-cov==2.6.0
pytest-docker==0.6.1
