# Invitations for {{ deploy }}


{% for url in invitation_urls %}
    1. {url}
{% endfor %}


Every invitation can be identified in the data column as

```json
{
    "guest": "invitation-{{ datestamp }}-${NUMBER}" ,
    "issuer" : "{{ issuer_email }}"
}
```

These invitations **will expire on {{ datetime.now() + valid_lifetime }}** if they are not renovated

---

Generated with {{ current_program }} by {{ issuer_email }} on {{ datetime.now() }}
