
# Minimal docker-compose configuration to deploy a stack that contains a selection
# of the services deployed with ITISFoundation/osparc-ops
#
# These configurations avoid having to deploy the entire
# ITISFoundation/osparc-ops to operate osparc-simcore stack during development
#
# By default, the **ops** stack is automatically deployed in all the make up-* targets but
# can be disabled passing the 'ops_disabled' flag
#
# $ make ops_disabled=1 up-devel
# $ make ops_disabled=1 up-prod
# $ make ops_disabled=1 up-vesioned
# $ make ops_disabled=1 up-latest
#
# Nonetheless, notice that minio is a service used from simcore stack. Therefore, disabling ops stack
# is meaningful ONLY when simcore stack is intended to run with the the actual stacks from osparc-ops
#
#  NOTE: this stack cannot be called tools because it collides with default network created in services/web/client/tools/docker-compose.yml
#  IMPORTANT: This stack IS NOT used in the deployed version
version: '3.7'

services:

  adminer:
    image: adminer
    ports:
      - 18080:8080
    networks:
      - simcore_default

  portainer:
    image: portainer/portainer
    ports:
      - "9000:9000"
    command: -H unix:///var/run/docker.sock
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - portainer_data:/data

  minio:
    # TODO: sync version of minio with https://github.com/ITISFoundation/osparc-ops/tree/master/services/minio
    image: minio/minio:RELEASE.2019-09-26T19-42-35Z
    init: true
    environment:
      - MINIO_ACCESS_KEY=${S3_ACCESS_KEY:?access_key_required}
      - MINIO_SECRET_KEY=${S3_SECRET_KEY:?secret_key_required}
    ports:
      - "9001:9000"
    command: server /data
    volumes:
      - minio_data:/data
    networks:
      - simcore_default
      - interactive_services_subnet
      - computational_services_subnet
  
  redis-commander:
    image: rediscommander/redis-commander:latest
    restart: always
    environment: 
      - REDIS_HOSTS=${REDIS_HOST}
    ports:
      - "18081:8081"
    networks:
      - simcore_default
    
volumes:
  minio_data: {}
  portainer_data: {}

networks:
  simcore_default:
    name: ${SWARM_STACK_NAME:-simcore}_default
    external: true
  interactive_services_subnet:
    name: ${SWARM_STACK_NAME:-simcore}_interactive_services_subnet
    external: true
  computational_services_subnet:
    name: ${SWARM_STACK_NAME:-simcore}_computational_services_subnet
    external: true
