# Overrides docker-compose.yml config when deploying services in development mode,
#  i.e. binding with source code in source
#
# NOTES:
# - port 3000 used for ptsv
#
version: '3.7'
services:

  apihub:
    volumes:
      - '../api:/srv/http/api'

  director:
    environment:
      - REGISTRY_CACHING=False
      - SC_BOOT_MODE=debug-ptvsd
    volumes:
      - ./director:/devel/services/director
      - ../packages/service-library:/devel/packages/service-library
      - ../api:/devel/services/api
    stdin_open: true
    tty: true
    ports:
      - "3004:3000"

  webserver:
    volumes:
      - ./web/server:/devel/services/web/server
      - ./web/client/source-output:/devel/services/web/client
      - ../packages:/devel/packages
    environment:
      - SC_BOOT_MODE=debug-ptvsd
    ports:
      - "3001:3000"

  sidecar:
    volumes:
      - ./sidecar:/devel/services/sidecar
      - ./storage/client-sdk:/devel/services/storage/client-sdk
      - ../packages:/devel/packages

  storage:
    volumes:
      - ./storage:/devel/services/storage
      - ../packages:/devel/packages
    environment:
      - SC_BOOT_MODE=debug-ptvsd
    ports:
      - "3003:3000"
    stdin_open: true
    tty: true
