# Overrides docker-compose.yml config when deploying services in development mode,
#  i.e. binding with source code in source
#
# NOTES:
# - port 3000 used for ptsv
#
version: "3.8"
services:
  api-server:
    environment:
      - SC_BOOT_MODE=debug-ptvsd
      - LOG_LEVEL=DEBUG
      - DEBUG=true
    volumes:
      - ./api-server:/devel/services/api-server
      - ../packages:/devel/packages

  autoscaling:
    environment:
      - SC_BOOT_MODE=debug-ptvsd
      - AUTOSCALING_LOGLEVEL=DEBUG
      - DEBUG=true
    volumes:
      - ./autoscaling:/devel/services/autoscaling
      - ../packages:/devel/packages

  invitations:
    environment:
      - SC_BOOT_MODE=debug-ptvsd
      - INVITATIONS_LOGLEVEL=DEBUG
      - DEBUG=true
    volumes:
      - ./invitations:/devel/services/invitations
      - ../packages:/devel/packages

  catalog:
    environment:
      - SC_BOOT_MODE=debug-ptvsd
      - LOG_LEVEL=DEBUG
      - DEBUG=true
      - DYNAMIC_SIDECAR_MOUNT_PATH_DEV=${PWD}/services/dynamic-sidecar
    volumes:
      - ./catalog:/devel/services/catalog
      - ../packages:/devel/packages

  datcore-adapter:
    environment:
      - SC_BOOT_MODE=debug-ptvsd
      - LOG_LEVEL=DEBUG
    volumes:
      - ./datcore-adapter:/devel/services/datcore-adapter
      - ../packages:/devel/packages

  director:
    environment:
      - SC_BOOT_MODE=debug-ptvsd
      - LOGLEVEL=debug
    volumes:
      - ./director:/devel/services/director
      - ../packages:/devel/packages
      - ../api:/devel/services/api

  director-v2:
    environment:
      - SC_BOOT_MODE=debug-ptvsd
      - LOG_LEVEL=debug
      - DEBUG=true
      - DYNAMIC_SIDECAR_MOUNT_PATH_DEV=${PWD}/services/dynamic-sidecar
    volumes:
      - ./director-v2:/devel/services/director-v2
      - ../packages:/devel/packages

  static-webserver:
    volumes:
      - ./static-webserver/client/source-output:/static-content
    environment:
      - SERVER_LOG_LEVEL=info

  webserver:
    volumes:
      &webserver-volumes-dev
      - ./web/server:/devel/services/web/server
      - ../packages:/devel/packages
    environment:
      &webserver-environment-dev
      SC_BOOT_MODE: debug-ptvsd
      WEBSERVER_LOGLEVEL: ${LOG_LEVEL:-DEBUG}

  wb-db-event-listener:
    volumes: *webserver-volumes-dev
    environment:
      <<: *webserver-environment-dev

  wb-garbage-collector:
    volumes: *webserver-volumes-dev
    environment:
      <<: *webserver-environment-dev
      WEBSERVER_RESOURCES_DELETION_TIMEOUT_SECONDS: 15

  dask-sidecar:
    volumes:
      &dev-dask-sidecar-volumes
      - ./dask-sidecar:/devel/services/dask-sidecar
      - ../packages:/devel/packages
      - type: bind  # verbose volume to avoid problem with env variable resolution https://github.com/docker/compose/issues/3998
        source: ${ETC_HOSTNAME:-/etc/hostname}
        target: /home/scu/hostname
        read_only: true

    environment:
      SC_BOOT_MODE: debug-ptvsd
      SIDECAR_LOGLEVEL: DEBUG
    ports:
      - "3000"
    deploy:
      endpoint_mode: vip

  dask-scheduler:
    volumes: *dev-dask-sidecar-volumes
    ports:
      - "3000"
    deploy:
      endpoint_mode: vip
      replicas: 1

  resource-usage-tracker:
    environment:
      - SC_BOOT_MODE=debug-ptvsd
      - RESOURCE_USAGE_TRACKER_LOGLEVEL=DEBUG
      - DEBUG=true
      - LOG_FORMAT_LOCAL_DEV_ENABLED=${LOG_FORMAT_LOCAL_DEV_ENABLED}
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_ENDPOINT=${POSTGRES_ENDPOINT}
      - POSTGRES_HOST=${POSTGRES_HOST}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_PORT=${POSTGRES_PORT}
      - POSTGRES_USER=${POSTGRES_USER}
      - PROMETHEUS_URL=${RESOURCE_USAGE_TRACKER_PROMETHEUS_URL}
      - PROMETHEUS_USERNAME=${RESOURCE_USAGE_TRACKER_PROMETHEUS_USERNAME}
      - PROMETHEUS_PASSWORD=${RESOURCE_USAGE_TRACKER_PROMETHEUS_PASSWORD}
    volumes:
      - ./resource-usage-tracker:/devel/services/resource-usage-tracker
      - ../packages:/devel/packages

  storage:
    volumes:
      - ./storage:/devel/services/storage
      - ../packages:/devel/packages
    environment:
      - SC_BOOT_MODE=debug-ptvsd
      - STORAGE_LOGLEVEL=DEBUG

  agent:
    environment:
      - SC_BOOT_MODE=debug-ptvsd
      - LOGLEVEL=DEBUG
    volumes:
      - ./agent:/devel/services/agent
      - ../packages:/devel/packages
