# This config shall not be used alone but after docker-compose.yml
#
# NOTES:
# - Overrides docker-compose.yml config when deploying services locally
# - Should not introduce a substantial different with respect the configuration deployed
# - Added ports to enforce they are published in the swarm (e.g. for integration testing).
# - sidecar cannot publish port with ingress mode since it can't be used with dnsrr mode
# - Port bindings "800X:8000" reserved for rest apis (e.g. /docs, /redoc)
# - Port bindings "300X:3000" reserved for remote debugging
#   - debug mode can be activated if SC_BOOT_MODE=debug-ptvsd (this is the default in devel).
#   - use vscode debugger "Python: Remote Attach *" config in  ''.vscode-template/launch.json'
#
version: "3.7"
services:
  catalog:
    environment:
      - SC_BOOT_MODE=${SC_BOOT_MODE:-default}
    ports:
      - "8005:8000"
      - "3005:3000"

  director:
    environment:
      - SC_BOOT_MODE=${SC_BOOT_MODE:-default}
    ports:
      - "8080"
      - "3004:3000"
    # TODO: disable all pdb-debug modes if not used !!!
    #stdin_open: true
    #tty: true

  storage:
    environment:
      - SC_BOOT_MODE=${SC_BOOT_MODE:-default}
    ports:
      - "8080"
      - "3003:3000"

  webserver:
    environment:
      - SC_BOOT_MODE=${SC_BOOT_MODE:-default}
    ports:
      - "9081:8080"
      - "3001:3000"

  postgres:
    ports:
      - "5432"
    # https://www.postgresql.org/docs/10/runtime-config-logging.html#GUC-LOG-STATEMENT
    command:
      [
        "postgres",
        "-c",
        "tcp_keepalives_idle=600",
        "-c",
        "tcp_keepalives_interval=600",
        "-c",
        "tcp_keepalives_count=5",
        "-c",
        "log_statement=all",
        "-c",
        "log_connections=true",
        "-c",
        "log_disconnections=true",
        "-c",
        "log_duration=true",
        "-c",
        "log_line_prefix=%m [%p] %q%u@%d/%a ",
      ]

  rabbit:
    ports:
      - "5672"
      - "15672"
      - "15692"

  redis:
    ports:
      - "6379"

  traefik:
    ports:
      - target: 80
        published: 80
      - target: 8080
        published: 8080
