# USAGE:  docker-compose -f docker-compose.yml -f docker-compose.devel.yml ...
version: '3.4'
services:
  apihub:
    image: services_apihub:dev
    build:
      target: development
    volumes:
      - '../api:/srv/http/api'
  #--------------------------------------------------------------------
  director:
    image: services_director:dev
    build:
      target: development
    volumes:
      - './director:/home/scu/services/director'
    stdin_open: true
    tty: true
  #--------------------------------------------------------------------
  webclient:
    image: services_webclient:dev
    build:
      target: development
    volumes:
      - './web/client:/home/scu/client'
    command: compile --watch
  webserver:
    image: services_webserver:dev
    build:
      args:
        - HOST_GID_ARG=${HOST_GID:?Undefined host gid}
      target: development
    volumes:
      - ./web/server:/home/scu/services/web/server
      - ./web/client/source-output:/home/scu/services/web/client
      - ../packages:/home/scu/packages
    stdin_open: true
    tty: true
    depends_on:
      - webclient
  #--------------------------------------------------------------------
  sidecar:
    image: services_sidecar:dev
    build:
      args:
        - HOST_GID_ARG=${HOST_GID:?Undefined host gid}
      target: development
    volumes:
      - ./sidecar:/home/scu/services/sidecar
      - ./storage/client-sdk:/home/scu/services/storage/client-sdk
      - ../packages:/home/scu/packages
  #--------------------------------------------------------------------
  storage:
    image: services_storage:dev
    build:
      args:
        - HOST_GID_ARG=${HOST_GID:?Undefined host gid}
      target: development
    volumes:
      - ./storage:/home/scu/services/storage
      - ../packages:/home/scu/packages
    stdin_open: true
    tty: true
