# Overrides docker-compose.yml config when deploying services in development mode,
#  i.e. binding with source code in source
# NOTES:
# - port 3000 used for ptsv
#
version: "3.8"
x-common-environment: &common-environment
  DEBUG : "true"
  SC_BOOT_MODE : debug

services:
  api-server:
    environment:
      <<: *common-environment
      API_SERVER_PROFILING : ${API_SERVER_PROFILING}
    volumes:
      - ./api-server:/devel/services/api-server
      - ../packages:/devel/packages

  autoscaling:
    environment:
      <<: *common-environment

    volumes:
      - ./autoscaling:/devel/services/autoscaling
      - ../packages:/devel/packages

  invitations:
    environment:
      <<: *common-environment
    volumes:
      - ./invitations:/devel/services/invitations
      - ../packages:/devel/packages

  payments:
    environment:
      <<: *common-environment
    volumes:
      - ./payments:/devel/services/payments
      - ../packages:/devel/packages

  dynamic-schdlr:
    environment:
      <<: *common-environment
      DYNAMIC_SCHEDULER_PROFILING : ${DYNAMIC_SCHEDULER_PROFILING}
    volumes:
      - ./dynamic-scheduler:/devel/services/dynamic-scheduler
      - ../packages:/devel/packages
    deploy:
      replicas: 1

  catalog:
    environment:
      <<: *common-environment
      CATALOG_PROFILING : ${CATALOG_PROFILING}
      DYNAMIC_SIDECAR_MOUNT_PATH_DEV : ${PWD}/services/dynamic-sidecar

    volumes:
      - ./catalog:/devel/services/catalog
      - ../packages:/devel/packages

  clusters-keeper:
    environment:
      <<: *common-environment
    volumes:
      - ./clusters-keeper:/devel/services/clusters-keeper
      - ../packages:/devel/packages

  datcore-adapter:
    environment:
      <<: *common-environment
    volumes:
      - ./datcore-adapter:/devel/services/datcore-adapter
      - ../packages:/devel/packages

  director:
    environment:
      LOGLEVEL : debug
      SC_BOOT_MODE : debug
    volumes:
      - ./director:/devel/services/director
      - ../packages:/devel/packages
      - ../api:/devel/services/api

  director-v2:
    environment:
      <<: *common-environment
      DIRECTOR_V2_PROFILING : ${DIRECTOR_V2_PROFILING}
      DYNAMIC_SIDECAR_MOUNT_PATH_DEV : ${PWD}/services/dynamic-sidecar

    volumes:
      - ./director-v2:/devel/services/director-v2
      - ../packages:/devel/packages

  static-webserver:
    volumes:
      - ./static-webserver/client/source-output:/static-content
    environment:
      SERVER_LOGLEVEL : info

  webserver:

    volumes: &webserver_volumes_devel
      - ./web/server:/devel/services/web/server
      - ../packages:/devel/packages
    environment: &webserver_environment_devel
      <<: *common-environment
      WEBSERVER_LOGLEVEL: ${WEBSERVER_LOGLEVEL}
      WEBSERVER_PROFILING: ${WEBSERVER_PROFILING}
      WEBSERVER_REMOTE_DEBUGGING_PORT: 3000


  wb-api-server:
    volumes: *webserver_volumes_devel
    environment:
      <<: *webserver_environment_devel

  wb-db-event-listener:
    volumes: *webserver_volumes_devel
    environment:
      <<: *webserver_environment_devel

  wb-garbage-collector:
    volumes: *webserver_volumes_devel
    environment:
      <<: *webserver_environment_devel
      RESOURCE_MANAGER_RESOURCE_TTL_S: 15

  dask-sidecar:
    volumes:
      &dask-sidecar_volumes_devel
      - ./dask-sidecar:/devel/services/dask-sidecar
      - ../packages:/devel/packages
      - ${ETC_HOSTNAME:-/etc/hostname}:/home/scu/hostname:ro

    environment:
      LOGLEVEL: DEBUG
      SC_BOOT_MODE: debug
      SIDECAR_LOGLEVEL: DEBUG
    ports:
      - "3000"
    deploy:
      endpoint_mode: vip

  dask-scheduler:
    volumes: *dask-sidecar_volumes_devel
    environment:
      <<: *common-environment
      SIDECAR_LOGLEVEL: DEBUG
    ports:
      - "3000"
    deploy:
      endpoint_mode: vip
      replicas: 1

  resource-usage-tracker:
    environment:
      <<: *common-environment
    volumes:
      - ./resource-usage-tracker:/devel/services/resource-usage-tracker
      - ../packages:/devel/packages

  storage:
    volumes:
      - ./storage:/devel/services/storage
      - ../packages:/devel/packages
    environment:
      <<: *common-environment
      STORAGE_PROFILING : ${STORAGE_PROFILING}

  agent:
    environment:
      <<: *common-environment

    volumes:
      - ./agent:/devel/services/agent
      - ../packages:/devel/packages
