# Overrides docker-compose.yml config when deploying services in development mode,
#  i.e. binding with source code in source
#
# NOTES:
# - port 3000 used for ptsv
#
version: "3.7"
services:
  catalog:
    environment:
      - SC_BOOT_MODE=debug-ptvsd
      - TESTING=true
      - LOGLEVEL=debug
    volumes:
      - ./catalog:/devel/services/catalog
      - ../packages:/devel/packages

  director:
    environment:
      - SC_BOOT_MODE=debug-ptvsd
      - LOGLEVEL=debug
    volumes:
      - ./director:/devel/services/director
      - ../packages:/devel/packages
      - ../api:/devel/services/api

  webserver:
    volumes:
      - ./web/server:/devel/services/web/server
      - ./web/client/source-output:/devel/services/web/client
      - ../packages:/devel/packages
    environment:
      - SC_BOOT_MODE=debug-ptvsd
      - WEBSERVER_RESOURCES_DELETION_TIMEOUT_SECONDS=15

  sidecar:
    volumes:
      - ./sidecar:/devel/services/sidecar
      - ./storage/client-sdk:/devel/services/storage/client-sdk
      - ../packages:/devel/packages
    environment:
      - SC_BOOT_MODE=debug-ptvsd
      - SIDECAR_LOGLEVEL=DEBUG
    ports:
      - "3002:3000"
    deploy:
      # NOTE: Allows 3002 to be exposed for ptvsd
      endpoint_mode: vip

  storage:
    volumes:
      - ./storage:/devel/services/storage
      - ../packages:/devel/packages
    environment:
      - SC_BOOT_MODE=debug-ptvsd

  traefik:
    deploy:
      # currently only available in devel mode as this conflicts with the external traefik dashboard
      labels:
        - io.simcore.zone=internal_simcore_stack
        - traefik.enable=true
        # traefik UI
        - traefik.http.routers.api_internal.service=api@internal
        - traefik.http.routers.api_internal.rule=PathPrefix(`/dashboard`) || PathPrefix(`/api`)
        - traefik.http.routers.api_internal.entrypoints=traefik_dashboard
        - traefik.http.routers.api_internal.middlewares=gzip@docker
        - traefik.http.services.api_internal.loadbalancer.server.port=8080
