# Overrides docker-compose.yml for development mode
# Usage:
#   docker-compose -f docker-compose.yml -f docker-compose.devel.yml ...
#
version: '3.7'
services:
  apihub:
    image: services_apihub:dev
    build:
      target: development
    volumes:
      - '../api:/srv/http/api'
  #--------------------------------------------------------------------
  director:
    image: services_director:dev
    build:
      target: development
    volumes:
      - ./director:/devel/services/director
      - ../packages/service-library:/devel/packages/service-library
      - ../api:/devel/services/api
    stdin_open: true
    tty: true
  #--------------------------------------------------------------------
  webclient:
    image: services_webclient:dev
    build:
      target: development
    volumes:
      - './web/client:/home/scu/client'
    command: >
      compile --watch
        --set osparc.vcsOriginUrl='"${VCS_URL}"'
        --set osparc.vcsRef='"${VCS_REF}"'
        --set osparc.vcsRefClient='"${VCS_REF_CLIENT}"'
        --set osparc.vcsStatusClient='"${VCS_STATUS_CLIENT}"'
  webserver:
    image: services_webserver:dev
    build:
      target: development
    volumes:
      - ./web/server:/devel/services/web/server
      - ./web/client/source-output:/devel/services/web/client
      - ../packages:/devel/packages
    stdin_open: true
    tty: true
    depends_on:
      - webclient
  #--------------------------------------------------------------------
  sidecar:
    image: services_sidecar:dev
    build:
      target: development
    volumes:
      - ./sidecar:/devel/services/sidecar
      - ./storage/client-sdk:/devel/services/storage/client-sdk
      - ../packages:/devel/packages
  #--------------------------------------------------------------------
  storage:
    image: services_storage:dev
    build:
      target: development
    volumes:
      - ./storage:/devel/services/storage
      - ../packages:/devel/packages
    stdin_open: true
    tty: true
  #--------------------------------------------------------------------
  maintenance:
    image: services_maintenance:dev
    volumes:
      - ./maintenance/notebooks:/home/jovyan/work
