# osparc-simcore stack (framework stack)
version: '3.7'
services:

  apihub:
    image: ${DOCKER_REGISTRY:-itisfoundation}/apihub:${DOCKER_IMAGE_TAG:-latest}
    init: true
    ports:
      - '8043'
    deploy:
      placement:
       constraints:
          - node.platform.os == linux
    networks:
      - default

  director:
    image: ${DOCKER_REGISTRY:-itisfoundation}/director:${DOCKER_IMAGE_TAG:-latest}
    init: true
    stdin_open: true
    tty: true
    ports:
      - '8080'
    environment:
    # on Windows follow http://www.computerperformance.co.uk/powershell/powershell_profile_ps1.htm
    # currently needs to set $Env:COMPOSE_CONVERT_WINDOWS_PATHS=1 in powershell to make this works
    # on a windows machine
      - REGISTRY_URL=${REGISTRY_URL}
      - REGISTRY_AUTH=${REGISTRY_AUTH}
      - REGISTRY_USER=${REGISTRY_USER}
      - REGISTRY_PW=${REGISTRY_PW}
      - REGISTRY_SSL=${REGISTRY_SSL}
      - POSTGRES_ENDPOINT=${POSTGRES_ENDPOINT}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_HOST=${POSTGRES_HOST}
      - POSTGRES_PORT=${POSTGRES_PORT}
      - S3_ENDPOINT=${S3_ENDPOINT}
      - S3_ACCESS_KEY=${S3_ACCESS_KEY}
      - S3_SECRET_KEY=${S3_SECRET_KEY}
      - S3_BUCKET_NAME=${S3_BUCKET_NAME}
      - STORAGE_ENDPOINT=${STORAGE_ENDPOINT}
      - EXTRA_HOSTS_SUFFIX=${EXTRA_HOSTS_SUFFIX:-undefined}
      - PUBLISHED_HOST_NAME=${PUBLISHED_HOST_NAME}
      - SIMCORE_SERVICES_NETWORK_NAME=interactive_services_subnet
    volumes:
      - '/var/run/docker.sock:/var/run/docker.sock'
    deploy:
      placement:
       constraints:
          - node.platform.os == linux
          - node.role == manager
    networks:
      - default
      - interactive_services_subnet

  webserver:
    image: ${DOCKER_REGISTRY:-itisfoundation}/webserver:${DOCKER_IMAGE_TAG:-latest}
    init: true
    ports:
      - ${SIMCORE_PORT:-9081}:8080
    environment:
      - APIHUB_HOST=apihub
      - APIHUB_PORT=8043
      - DIRECTOR_HOST=director
      - DIRECTOR_PORT=8080
      - STORAGE_HOST=storage
      - STORAGE_PORT=8080
      - WEBSERVER_MONITORING_ENABLED=1
      - WEBSERVER_LOGLEVEL=INFO
    env_file:
      - ../.env
    stdin_open: true
    tty: true
    depends_on:
      - apihub
      - postgres
      - minio
      - rabbit
    deploy:
      placement:
        constraints:
          - node.platform.os == linux
          - node.role == manager
    networks:
      - default
      - interactive_services_subnet
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock

  sidecar:
    image: ${DOCKER_REGISTRY:-itisfoundation}/sidecar:${DOCKER_IMAGE_TAG:-latest}
    init: true
    deploy:
      mode: replicated
      endpoint_mode: dnsrr
      resources:
        reservations:
          cpus: '0.1'
          memory: '100M'
    volumes:
      - input:/home/scu/input
      - output:/home/scu/output
      - log:/home/scu/log
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      - RABBITMQ_USER=${RABBITMQ_USER}
      - RABBITMQ_PASSWORD=${RABBITMQ_PASSWORD}
      - RABBITMQ_LOG_CHANNEL=${RABBITMQ_LOG_CHANNEL}
      - RABBITMQ_PROGRESS_CHANNEL=${RABBITMQ_PROGRESS_CHANNEL}
      - POSTGRES_ENDPOINT=${POSTGRES_ENDPOINT}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_HOST=${POSTGRES_HOST}
      - POSTGRES_PORT=${POSTGRES_PORT}
      - S3_ENDPOINT=${S3_ENDPOINT}
      - S3_ACCESS_KEY=${S3_ACCESS_KEY}
      - S3_SECRET_KEY=${S3_SECRET_KEY}
      - S3_BUCKET_NAME=${S3_BUCKET_NAME}
      - STORAGE_ENDPOINT=${STORAGE_ENDPOINT}
      - REGISTRY_URL=${REGISTRY_URL}
      - REGISTRY_USER=${REGISTRY_USER}
      - REGISTRY_PW=${REGISTRY_PW}
      - SWARM_STACK_NAME=${SWARM_STACK_NAME}
    depends_on:
      - rabbit
      - postgres
      - minio
    networks:
      - computational_services_subnet

  storage:
    image: ${DOCKER_REGISTRY:-itisfoundation}/storage:${DOCKER_IMAGE_TAG:-latest}
    init: true
    ports:
      - "8080"
    environment:
      - APIHUB_HOST=apihub
      - APIHUB_PORT=8043
      - POSTGRES_ENDPOINT=${POSTGRES_ENDPOINT}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_HOST=${POSTGRES_HOST}
      - POSTGRES_PORT=${POSTGRES_PORT}
      - STORAGE_LOGLEVEL=INFO
      - STORAGE_MONITORING_ENABLED=1
      - S3_ENDPOINT=${S3_ENDPOINT}
      - S3_ACCESS_KEY=${S3_ACCESS_KEY}
      - S3_SECRET_KEY=${S3_SECRET_KEY}
      - S3_BUCKET_NAME=${S3_BUCKET_NAME}
      - S3_SECURE=${S3_SECURE}
      - BF_API_SECRET=${BF_API_SECRET}
      - BF_API_KEY=${BF_API_KEY}
    stdin_open: true
    tty: true
    depends_on:
      - minio
      - postgres
      - apihub
    deploy:
      placement:
        constraints:
          - node.platform.os == linux
    networks:
      - default
      - interactive_services_subnet
      - computational_services_subnet

  rabbit:
    image: rabbitmq:3.7.17-management
    init: true
    environment:
      - RABBITMQ_DEFAULT_USER=${RABBITMQ_USER}
      - RABBITMQ_DEFAULT_PASS=${RABBITMQ_PASSWORD}
    ports:
      - "5672"
      - "15672"
    networks:
      - default
      - computational_services_subnet

  postgres:
    image: postgres:10.10
    init: true
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432"
    networks:
      - default
      - interactive_services_subnet
      - computational_services_subnet

  minio:
    image: minio/minio:RELEASE.2019-09-26T19-42-35Z
    init: true
    environment:
      - MINIO_ACCESS_KEY=12345678
      - MINIO_SECRET_KEY=12345678
    ports:
      - "9001:9000"
    command: server /data
    volumes:
      - minio:/data
    networks:
      - default
      - interactive_services_subnet
      - computational_services_subnet

volumes:
  input: {}
  output: {}
  log: {}
  postgres_data: {}
  minio: {}

networks:
  interactive_services_subnet:
    driver: overlay
    attachable: true
    internal: false
    labels:
      com.simcore.description: "interactive services network"
    ipam:
      driver: default
      config:
        - subnet: "172.8.0.0/16"
  computational_services_subnet:
    driver: overlay
    attachable: true
    internal: false
    labels:
      com.simcore.description: "computational services network"
    ipam:
      driver: default
      config:
        - subnet: "172.9.0.0/16"
