# Minimal docker-compose configuration to deploy a stack that contains a selection
# of the services deployed with ITISFoundation/osparc-ops
#
# These configurations avoid having to deploy the entire
# ITISFoundation/osparc-ops to operate osparc-simcore stack during development
#
# By default, the **ops** stack is automatically deployed in all the make up-* targets but
# can be disabled passing the 'ops_disabled' flag
#
# $ make ops_disabled=1 up-devel
# $ make ops_disabled=1 up-prod
# $ make ops_disabled=1 up-versioned
# $ make ops_disabled=1 up-latest
#
# Nonetheless, notice that rustfs is a service used from simcore stack. Therefore, disabling ops stack
# is meaningful ONLY when simcore stack is intended to run with the the actual stacks from osparc-ops
#
#  NOTE: this stack cannot be called tools because it collides with default network created in services/static-webserver/client/tools/docker-compose.yml
#  IMPORTANT: This stack IS NOT used in the deployed version

services:
  adminer:
    image: adminer:5.4.1
    init: true
    environment:
      ADMINER_DEFAULT_SERVER: postgres
      ADMINER_DESIGN: nette
      ADMINER_PLUGINS: json-column
    ports:
      - "18080:8080"
    networks:
      - simcore_default
  jaeger:
    image: jaegertracing/all-in-one:1.47
    networks:
      - simcore_default
    ports:
      - "16686:16686" # Jaeger UI
      - "14268:14268" # Jaeger HTTP Thrift
      - "14250:14250" # Jaeger gRPC
      - "43017:4317" # opentelemetry GRPC default port
      - "43018:4318" # opentelemetry HTTP default port
    environment:
      COLLECTOR_OTLP_ENABLED: "true"
  portainer:
    image: portainer/portainer-ce
    init: true
    ports:
      - "9000:9000"
    command: -H unix:///var/run/docker.sock
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - portainer_data:/data

  rustfs:
    # NOTE: taken from https://docs.rustfs.com/installation/docker/#docker-compose-installation
    security_opt:
      - "no-new-privileges:true"
    image: rustfs/rustfs:latest@sha256:1cfa82fb394a7c6a4ffc24f5333b52afee608d258503f94b37fcce5cc965c896
    init: true
    ports:
      - "9002:9000"
      - "9001:9001"
    environment:
      - RUSTFS_VOLUMES=/data/rustfs{0..3} # Define 4 storage volumes
      - RUSTFS_ADDRESS=0.0.0.0:9000
      - RUSTFS_CONSOLE_ADDRESS=0.0.0.0:9001
      - RUSTFS_CONSOLE_ENABLE=true
      - RUSTFS_CORS_ALLOWED_ORIGINS=*
      - RUSTFS_CONSOLE_CORS_ALLOWED_ORIGINS=*
      - RUSTFS_ACCESS_KEY=${S3_ACCESS_KEY:?access_key_required}
      - RUSTFS_SECRET_KEY=${S3_SECRET_KEY:?secret_key_required}
      - RUSTFS_OBS_LOGGER_LEVEL=info
      - RUSTFS_TLS_PATH=/opt/tls
      - RUSTFS_OBS_ENDPOINT=http://opentelemetry-collector:4318

    networks:
      - simcore_default
      - interactive_services_subnet
    restart: unless-stopped
    healthcheck:
      test:
        [
          "CMD",
          "sh",
          "-c",
          "curl -f http://127.0.0.1:9000/health && curl -f http://127.0.0.1:9001/rustfs/console/health",
        ]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 40s

  redis-commander:
    image: ghcr.io/joeferner/redis-commander:latest
    init: true
    environment:
      - >-
        REDIS_HOSTS=
        resources:${REDIS_HOST}:${REDIS_PORT}:0:${REDIS_PASSWORD},
        locks:${REDIS_HOST}:${REDIS_PORT}:1:${REDIS_PASSWORD},
        validation_codes:${REDIS_HOST}:${REDIS_PORT}:2:${REDIS_PASSWORD},
        scheduled_maintenance:${REDIS_HOST}:${REDIS_PORT}:3:${REDIS_PASSWORD},
        user_notifications:${REDIS_HOST}:${REDIS_PORT}:4:${REDIS_PASSWORD},
        announcements:${REDIS_HOST}:${REDIS_PORT}:5:${REDIS_PASSWORD},
        long_running_tasks:${REDIS_HOST}:${REDIS_PORT}:6:${REDIS_PASSWORD},
        deferred_tasks:${REDIS_HOST}:${REDIS_PORT}:7:${REDIS_PASSWORD},
        dynamic_services:${REDIS_HOST}:${REDIS_PORT}:8:${REDIS_PASSWORD},
        celery_tasks:${REDIS_HOST}:${REDIS_PORT}:9:${REDIS_PASSWORD},
        documents:${REDIS_HOST}:${REDIS_PORT}:10:${REDIS_PASSWORD}
      # If you add/remove a db, do not forget to update the --databases entry in the docker-compose.yml
    ports:
      - "18081:8081"
    user: redis
    networks:
      - simcore_default
  opentelemetry-collector:
    image: otel/opentelemetry-collector-contrib:0.105.0
    volumes:
      - ./opentelemetry-collector-config.yaml:/etc/otel/config.yaml
    hostname: "{{.Node.Hostname}}-{{.Task.Slot}}"
    command:
      - "--config=/etc/otel/config.yaml"
    ports:
      - "4318:4318" # OTLP HTTP receiver
    networks:
      - simcore_default
      - interactive_services_subnet
    environment:
      TRACING_OPENTELEMETRY_COLLECTOR_BATCH_SIZE: ${TRACING_OPENTELEMETRY_COLLECTOR_BATCH_SIZE}
      TRACING_OPENTELEMETRY_COLLECTOR_EXPORTER_ENDPOINT: ${TRACING_OPENTELEMETRY_COLLECTOR_EXPORTER_ENDPOINT}
volumes:
  rustfs_data_0:
    driver: local
  rustfs_data_1:
    driver: local
  rustfs_data_2:
    driver: local
  rustfs_data_3:
    driver: local
  portainer_data:
    name: ops_portainer_data

networks:
  simcore_default:
    name: ${SWARM_STACK_NAME}_default
    external: true
  interactive_services_subnet:
    name: ${SWARM_STACK_NAME}_interactive_services_subnet
    external: true
