CREATE USER ${POSTGRES_READONLY_USER} WITH PASSWORD '${POSTGRES_READONLY_PASSWORD}';

-- Grant read-only role (privilages) to the user
GRANT ${POSTGRES_DB}_readonly TO ${POSTGRES_READONLY_USER};

SELECT * FROM pg_roles WHERE rolname NOT LIKE 'pg_%';
