-- Revoke readonly role from user
REVOKE ${POSTGRES_DB}_readonly FROM ${POSTGRES_READONLY_USER};

DROP USER IF EXISTS ${POSTGRES_READONLY_USER};

SELECT * FROM pg_roles WHERE rolname NOT LIKE 'pg_%';
