Change of Your Sign-In Email Address on {{ host }}
<!--
TEST host:{{ host }}
TEST link:{{ link }}
TEST name:{{ name }}
TEST support_email:{{ support_email }}
-->
<p>
  Dear {{ name }} <br><br>
  You have requested to change the email address linked to your S4L lite account. Please follow the on-screen
  information in the link below:
</p>

<p>
  <a href="{{ link }}">{{ link }}</a>
</p>

<p>
  Please don’t hesitate to contact us at {{ support_email }} if you need further help.<br><br>
  Best regards <br>
  The <i>Sim4Life</i> Team
</p>
