Welcome to S4L lite
<!--
TEST host:{{ host }}
TEST link:{{ link }}
TEST name:{{ name }}
TEST support_email:{{ support_email }}
-->
<p>
  Dear {{ name }} <br><br>
  Thank you for your interest in S4L lite. You have successfully registered for {{ host }}.<br>
  Please activate your account via the link below:
</p>

<p>
  <a href="{{ link }}">{{ link }}</a>
</p>

<p>
  Please don't hesitate to contact us at {{ support_email }} if you need further help.<br><br>
  Best regards <br>
  The <i>Sim4Life</i> Team
</p>
