Reset Password on {{ host }}
<!--
TEST host:{{ host }}
TEST name:{{ name }}
TEST reason:{{ reason }}
TEST support_email:{{ support_email }}
-->
<p>
  Dear {{ name }} <br><br>
  Someone has requested a password reset for your {{ host }} account.<br>
  It could not be completed due to the following reason:
</p>
<p>
  <strong> {{ reason }} </strong>
</p>

<p>
  If you don't wish to reset your password, disregard this email and no action will be taken.
</p>

<p>
  Please don't hesitate to contact us at {{ support_email }} if you need further help.<br><br>
  Best regards <br>
  The <i>Sim4Life</i> Team
</p>
