Reset Password on {{ host }}
<!--
TEST host:{{ host }}
TEST link:{{ link }}
TEST name:{{ name }}
TEST support_email:{{ support_email }}
-->
<h1>Reset your password on {{ host }}</h1>


<p>
  Dear {{ name }} <br><br>
  Someone has requested a password reset for your {{ host }} account.<br>
  Please set a new password via the link below:
</p>

<p>
  <a href="{{ link }}">{{ link }}</a>
</p>

<p>
  If you don't wish to reset your password, disregard this email and no action will be taken.
</p>

<p>
  Please don't hesitate to contact us at {{ support_email }} if you need further help.<br><br>
  Best regards <br>
  The <i>Sim4Life</i> Team
</p>
