aio_pika==5.5.2
aiohttp==3.5.4
aiohttp_jinja2==1.1.1
aiohttp_security==0.4.0
aiopg==0.16.0
aiosmtplib==1.0.5
asyncpg==0.18.3
attr==0.3.1
celery==4.3.0
change_case==0.5.2
jinja_app_loader==1.0.2
jsonschema==3.0.1
passlib==1.7.1
passwordmeter==0.1.8
psycopg2==2.8.2
semantic_version==2.6.0
gevent_socketio==0.3.6
SQLAlchemy==1.3.3
tenacity==5.0.4
trafaret==1.2.0
trafaret_config==2.0.2
typing==3.6.6
yarl==1.3.0
