Change of Your Sign-In Email Address on {{ host }}
<!--
TEST host:{{ host }}
TEST link:{{ link }}
TEST name:{{ name }}
TEST support_email:{{ support_email }}
-->
<p>Dear {{ name }},</p>
<p>
  You have requested to change the email address linked to your {{ product.display_name }} account.
  Please follow the on-screen information in the link below:
</p>

<p>
  <a href="{{ link }}">{{ link }}</a>
</p>

<p>Please don't hesitate to contact us at {{ product.support_email }} if you need further help.
</p>
<p>Best Regards,</p>
<p>The <i>{{ product.display_name }}</i> Team</p>
