🐼 Closing your account in {{ host }} and best wishes
<!--
TEST host:{{ host }}
TEST name:{{ name }}
TEST support_email:{{ support_email }}
TEST retention_days:{{ retention_days }}
-->
<p>
Dear {{ name }},
</p>
<p>
We've received your account closure request, and we want to say thank you for being a part of our platform. While we're sad to see you go, we respect your decision.
</p>
<p>
Your studies and data will be securely retained for {{ retention_days }} days. <br>
Within that period if you ever decide to return, you can reactivate your account by sending us an email to {{ support_email }}. <br>
Afterwards it will be completely deleted from our system.
</p>

<p>
Until then, we wish you all the best in your future endeavors.
</p>

Warm regards, <br>

Support Team at {{ host }}

<p>
  Our support team is here to help with anything you need. Please feel free to contact us to {{ support_email }} in case
  of questions or any required assistance.
</p>
