{{ code }} is Your 2FA Sign-In Code for {{ host }}
<!--
TEST code:{{ code }}
TEST host:{{ host }}
TEST name:{{ name }}
TEST support_email:{{ support_email }}
-->
<p>Dear {{ name }},</p>
<p>Please find below the Two-factor Authentication sign-in code for your {{ host }} account.</p>

<p>
  Your code is: <b> {{ code }} </b>
</p>

<p>Please don't hesitate to contact us at {{ product.support_email }} if you need further help.</p>
<p>Best Regards,</p>
<p>The <i>{{ product.display_name }}</i> Team</p>
