Request for an Account in {{ host }}
<!--
NOTE: this header is only for testing purposes and removed automatically before sending
TEST host:{{ host }}
TEST name:{{ name }}
TEST product:{{ product }}
TEST request_form:{{ request_form }}
-->
<p>
Dear {{ name }},
</p>

<p>
  We have received the following request form for an account in {{ product.display_name }} from {{ host }}
</p>

<pre>
{{ dumps(request_form) }}
</pre>

<p>
  Some details about the requested product follow:
</p>

<pre>
{{ dumps(product) }}
</pre>

<p>
  To validate the request form, here you can get further info on this request:
</p>

<pre>
{{ dumps(ipinfo) }}
</pre>

<p>TIP: Use https://ipinfo.io/ to find out more information on the ip</p>
