Request for an account in {{ host }}
<!--
NOTE: this header is only for testing purposes and removed automatically before sending
TEST host:{{ host }}
TEST name:{{ name }}
TEST product:{{ product }}
TEST request_form:{{ request_form }}
-->
<p>
Dear {{ name }},
</p>

<p>
We have received the following request form for an account in {{ product["name"] }}
</p>

<p>
{{ dumps(request_form) }}
</p>

<p>s
Some details about the requested product follow:
</p>

<p>
{{ dumps(product) }}
</p>

<p>
To validate the request form, here you can get further info on this request. TIP. Use https://ipinfo.io/$IP/json
{{ dumps(ipinfo) }}
</p>


Thanks<br>
