Reset your password on {{ host }}
<!--
TEST host:{{ host }}
TEST reason:{{ reason }}
-->
<h1>Reset your password on {{ host }}</h1>

<p>
Someone has requested a password reset for your {{ host }} account but it could not be completed
due to the following reason: {{ reason }}
</p>

<p>
If you don't wish to reset your password, disregard this email and no action will be taken.
</p>

<p>
  Our support team is here to help with anything you need. Please feel free to contact us to support@osparc.io in case of questions or any required assistance.
</p>
