version: '3.9'
services:
  osparc-gateway-server:
    environment:
      - SC_BOOT_MODE=debug-ptvsd
      - LOG_LEVEL=debug
      - DEBUG=true
    volumes:
      - ./:/devel/services/osparc-gateway-server
