[project]
name = "simcore-celery-library"
version = "0.1.0"
description = "Core service library for simcore Celery support"
readme = "README.md"
requires-python = ">=3.13"
authors = [{ name = "osparc", email = "support@osparc.io" }]
license = { text = "MIT" }
dependencies = [
  "arrow>=1.3.0",
  "jsonref>=1.1.0",
  "jsonschema>=4.25.1",
  "orjson>=3.11.4",
  "pydantic[email]>=2.11.9",
  "pydantic-extra-types>=2.10.5",
  "pydantic-settings>=2.7.0",
  "rich>=14.1.0",
  "typer>=0.19.2",
  "aio-pika>=9.5.7",
  "aiocache>=0.12.3",
  "aiodebug>=2.3.0",
  "aiodocker>=0.24.0",
  "aiofiles>=24.1.0",
  "faststream>=0.5.48",
  "httpx[http2]>=0.28.1",
  "opentelemetry-api>=1.37.0",
  "opentelemetry-exporter-otlp>=1.37.0",
  "opentelemetry-instrumentation-aio-pika>=0.58b0",
  "opentelemetry-instrumentation-asyncpg>=0.58b0",
  "opentelemetry-instrumentation-httpx>=0.58b0",
  "opentelemetry-instrumentation-logging>=0.58b0",
  "opentelemetry-instrumentation-redis>=0.58b0",
  "opentelemetry-instrumentation-requests>=0.58b0",
  "opentelemetry-sdk>=1.37.0",
  "psutil>=7.1.0",
  "pyinstrument>=5.1.1",
  "pyyaml>=6.0.3",
  "redis>=5.2.1",
  "stream-zip>=0.0.84",
  "tenacity>=9.1.2",
  "toolz>=1.0.0",
  "tqdm>=4.67.1",
  "yarl>=1.20.1",
  "celery[redis]>=5.6.0",
  "simcore-common-library",
  "simcore-service-library",
  "simcore-models-library",
  "simcore-settings-library",
]

[build-system]
requires = ["uv_build>=0.9.28,<0.10.0"]
build-backend = "uv_build"

[tool.uv.build-backend]
module-name = "celery_library"

[tool.uv.sources]
pytest-simcore = { path = "../pytest-simcore", editable = true }
simcore-common-library = { path = "../common-library", editable = true }
simcore-service-library = { path = "../service-library", editable = true }
simcore-models-library = { path = "../models-library", editable = true }
simcore-settings-library = { path = "../settings-library", editable = true }


[tool.pytest.ini_options]
asyncio_mode = "auto"
asyncio_default_fixture_loop_scope = "function"
markers = [
  "diagnostics: can be used to run diagnostics against deployed data",
  "testit: marks test to run during development",
]

[tool.mypy]
plugins = ["pydantic.mypy"]

[dependency-groups]
dev = [
  "coverage>=7.10.7",
  "faker>=37.8.0",
  "fakeredis[lua]>=2.31.3",
  "httpx>=0.28.1",
  "mypy>=1.18.2",
  "pint>=0.25",
  "pytest>=8.4.2",
  "pytest-asyncio>=1.2.0",
  "pytest-benchmark>=5.1.0",
  "pytest-celery>=1.2.1",
  "pytest-cov>=7.0.0",
  "pytest-icdiff>=0.9",
  "pytest-instafail>=0.5.0",
  "pytest-mock>=3.15.1",
  "pytest-runner>=6.0.1",
  "pytest-simcore",
  "pytest-sugar>=1.1.1",
  "python-dotenv>=1.1.1",
  "pyyaml>=6.0.3",
]
devtools = [
  "black>=25.9.0",
  "bump2version>=1.0.1",
  "isort>=6.1.0",
  "mypy>=1.18.2",
  "pre-commit>=4.3.0",
  "pylint>=3.3.8",
  "ruff>=0.13.3",
]
