{% if conversation_name %}{% trans conversation_name=conversation_name %}New reply in your Support Center "{{ conversation_name }}" conversation{% endtrans %}{% else %}{% trans %}New reply in your Support Center conversation{% endtrans %}{% endif %}
