{% trans first_name=user.first_name or user.user_name %}Dear {{ first_name }},{% endtrans %}

{% trans product_name=product.display_name %}Thank you for your interest in {{ product_name }}. Unfortunately, your registration is not eligible for participation in this program.{% endtrans %}

{% trans support_email=product.support_email %}In case of further interest in this or other solutions we might offer, please contact us at {{ support_email }}.{% endtrans %}

{% trans %}Best regards,{% endtrans %}
{% trans product_name=product.display_name %}The {{ product_name }} Team{% endtrans %}
