{% extends 'email/_base/body_html.j2' %}
{% block title %} {% include 'email/account_rejected/subject.j2' %} {% endblock %}
{% block content %}
<p>{% trans first_name=user.first_name or "User" %}Dear {{ first_name }},{% endtrans %}</p>

<p>
  {% trans product_name=product.display_name %}Thank you for your interest in {{ product_name }}. Unfortunately, your registration is not eligible for participation in this program.{% endtrans %}
</p>

{% set support_link %}<a href="mailto:{{ product.support_email }}">{{ product.support_email }}</a>{% endset %}
<p>
  {% trans support_link=support_link %}In case of further interest in this or other solutions we might offer, please contact us at {{ support_link }}.{% endtrans %}
</p>

<p>{% trans %}Best regards,{% endtrans %}</p>

{% set product_name %}<i>{{ product.display_name }}</i>{% endset %}
<p>{% trans product_name=product_name %}The {{ product_name }} Team{% endtrans %}</p>
{% endblock %}
