openapi: 3.0.0
info:
  title: project management API
  version: 0.1.0
  description: 'Operations on projects'
servers:
  - description: API server
    url: '/v0'
paths:
  /projects:
    get:
      summary: List all projects
      operationId: list_projects
      parameters:
        - name: type
          in: query
          schema:
            type: string
            default: 'all'
            enum: [template, user, all]
          description: if true only templates otherwise only users
        - name: state
          in: query
          schema:
            type: string
            default: 'active'
            enum: [active]
          description: if set only active projects are returned. if type=template this parameter is ignored.
        - name: start
          in: query
          schema:
            type: integer
            minItems: 0
          description: index to the first item to return
        - name: count
          in: query
          schema:
            type: integer
            minItems: 1
          description: maximum number of items to return
      responses:
        '200':
          description: list of projects
          content:
            application/json:
              schema:
                $ref: './openapi-projects.yaml#/components/schemas/ProjectArrayEnveloped'
        default:
          $ref: './openapi.yaml#/components/responses/DefaultErrorResponse'
    post:
      summary: Create new project
      operationId: create_projects
      parameters:
        - name: from_template
          in: query
          schema:
            type: string
          description: 'Option to create a project from existing template: from_template={template_uuid}'
        - name: as_template
          in: query
          schema:
            type: string
          description: 'Option to create a template from existing project: as_template={study_uuid}'
      requestBody:
        content:
          application/json:
            schema:
              $ref: './openapi-projects.yaml#/components/schemas/Project'
      responses:
        '201':
          description: project created
          content:
            application/json:
              schema:
                $ref: './openapi-projects.yaml#/components/schemas/ProjectEnveloped'
        default:
          $ref: './openapi.yaml#/components/responses/DefaultErrorResponse'

  /projects/{project_id}:
    parameters:
      - name: project_id
        in: path
        required: true
        schema:
          type: string
      - name: run
        in: path
        required: false
        schema:
          type: boolean
    get:
      summary: Gets given project
      operationId: get_project
      responses:
        '200':
          description: got detailed project
          content:
            application/json:
              schema:
                $ref: './openapi-projects.yaml#/components/schemas/ProjectEnveloped'
        default:
          $ref: './openapi.yaml#/components/responses/DefaultErrorResponse'
    put:
      summary: Enclosed entity replaces given project
      operationId: replace_project
      requestBody:
        content:
          application/json:
            schema:
              $ref: './openapi-projects.yaml#/components/schemas/Project'
      responses:
        '200':
          description: got detailed project
          content:
            application/json:
              schema:
                $ref: './openapi-projects.yaml#/components/schemas/ProjectEnveloped'
        default:
          $ref: './openapi.yaml#/components/responses/DefaultErrorResponse'
    delete:
      summary: Delete given project
      operationId: delete_project
      responses:
        '204':
          description: project has been successfully deleted

  /projects/{project_id}/open:
    parameters:
      - name: project_id
        in: path
        required: true
        schema:
          type: string
    post:
      summary: Open a given project
      operationId: open_project
      requestBody:
        description: browser tab identifier
        required: true
        content:
          application/json:
            schema:
              $ref: './openapi-projects.yaml#/components/schemas/ClientSessionId'
      responses:
        '200':
          description: project successfuly opened
          content:
            application/json:
              schema:
                $ref: './openapi-projects.yaml#/components/schemas/ProjectEnveloped'
        default:
          $ref: './openapi.yaml#/components/responses/DefaultErrorResponse'

  /projects/{project_id}/close:
    parameters:
      - name: project_id
        in: path
        required: true
        schema:
          type: string
    post:
      summary: Closes a given project
      operationId: close_project
      requestBody:
        description: browser tab identifier
        required: true
        content:
          application/json:
            schema:
              $ref: './openapi-projects.yaml#/components/schemas/ClientSessionId'
      responses:
        '204':
          description: project succesfuly closed

        default:
          $ref: './openapi.yaml#/components/responses/DefaultErrorResponse'

  /projects/active:
    get:
      summary: Gets active projects
      operationId: get_active_project
      responses:
        '200':
          description: returns active projects ids with corresponding client_session_ids
          content:
            application/json:
              schema:
                $ref: './openapi-projects.yaml#/components/schemas/ProjectIDArrayEnveloped'
        default:
          $ref: './openapi.yaml#/components/responses/DefaultErrorResponse'

components:
  schemas:
    Project:
      $ref: './components/schemas/project-v0.0.1-converted.yaml'
    ProjectEnveloped:
      type: object
      required:
        - data
      properties:
        data:
          $ref: './openapi-projects.yaml#/components/schemas/Project'
        error:
          nullable: true
          default: null
    ProjectArrayEnveloped:
      type: object
      required:
        - data
      properties:
        data:
          type: array
          items:
            $ref: './openapi-projects.yaml#/components/schemas/Project'
        error:
          nullable: true
          default: null
    ProjectID:
      type: object
      required:
        - project_id
      properties:
        project_id:
          type: string
          example: 5ac57sdd-c4ds-448a-as22-456844565456
        client_session_id:
          type: string
          example: 5ac57685-c40f-448f-8711-70be1936fd63
    ProjectIDArrayEnveloped:
      type: object
      required:
        - data
      properties:
        data:
          type: array
          items:
            $ref: './openapi-projects.yaml#/components/schemas/ProjectID'
        error:
          nullable: true
          default: null
    ClientSessionId:
      type: string
      example: 5ac57685-c40f-448f-8711-70be1936fd63
