openapi: 3.0.0
info:
  title: project management API
  version: 0.1.0
  description: 'Operations on projects'
servers:
  - description: API server
    url: '/v0'
paths:
  /projects:
    get:
      summary: List all projects
      operationId: list_projects
      parameters:
        - name: type
          in: query
          schema:
            type: string
            default: 'all'
            enum: [template, user, all]
          description: if true only templates otherwise only users
        - name: state
          in: query
          schema:
            type: string
            default: 'active'
            enum: [active]
          description: if set only active projects are returned. if type=template this parameter is ignored.
        - name: start
          in: query
          schema:
            type: integer
            minItems: 0
          description: index to the first item to return
        - name: count
          in: query
          schema:
            type: integer
            minItems: 1
          description: maximum number of items to return
      responses:
        '200':
          description: list of projects
          content:
            application/json:
              schema:
                $ref: './openapi-projects.yaml#/components/schemas/ProjectArrayEnveloped'
        default:
          $ref: './openapi.yaml#/components/responses/DefaultErrorResponse'
    post:
      summary: Create new project
      operationId: create_projects
      parameters:
        - name: from_template
          in: query
          schema:
            type: string
          description: 'Option to create a project from existing template: from_template={template_uuid}'
        - name: as_template
          in: query
          schema:
            type: string
          description: 'Option to create a template from existing project: as_template={study_uuid}'
      requestBody:
        content:
          application/json:
            schema:
              $ref: './openapi-projects.yaml#/components/schemas/Project'
      responses:
        '201':
          description: project created
          content:
            application/json:
              schema:
                $ref: './openapi-projects.yaml#/components/schemas/ProjectEnveloped'
        default:
          $ref: './openapi.yaml#/components/responses/DefaultErrorResponse'
  /projects/active:
    get:
      summary: Gets active project
      operationId: get_active_project
      responses:
        '200':
          description: returns active project
          content:
            application/json:
              schema:
                $ref: './openapi-projects.yaml#/components/schemas/ProjectEnveloped'
        default:
          $ref: './openapi.yaml#/components/responses/DefaultErrorResponse'

  /projects/{project_id}:
    parameters:
      - name: project_id
        in: path
        required: true
        schema:
          type: string
      - name: run
        in: path
        required: false
        schema:
          type: boolean
    get:
      summary: Gets given project
      operationId: get_project
      responses:
        '200':
          description: got detailed project
          content:
            application/json:
              schema:
                $ref: './openapi-projects.yaml#/components/schemas/ProjectEnveloped'
        default:
          $ref: './openapi.yaml#/components/responses/DefaultErrorResponse'
    put:
      summary: Enclosed entity replaces given project
      operationId: replace_project
      requestBody:
        content:
          application/json:
            schema:
              $ref: './openapi-projects.yaml#/components/schemas/Project'
      responses:
        '200':
          description: got detailed project
          content:
            application/json:
              schema:
                $ref: './openapi-projects.yaml#/components/schemas/ProjectEnveloped'
        default:
          $ref: './openapi.yaml#/components/responses/DefaultErrorResponse'
    delete:
      summary: Delete given project
      operationId: delete_project
      responses:
        '204':
          description: project has been successfully deleted

  /projects/{project_id}/open:
    parameters:
      - name: project_id
        in: path
        required: true
        schema:
          type: string
    post:
      summary: Open a given project
      operationId: open_project
      requestBody:
        description: browser tab identifier
        required: true
        content:
          application/json:
            schema:
              $ref: './openapi-projects.yaml#/components/schemas/ClientSessionId'
      responses:
        '200':
          description: project successfuly opened
          content:
            application/json:
              schema:
                $ref: './openapi-projects.yaml#/components/schemas/ProjectEnveloped'
        default:
          $ref: './openapi.yaml#/components/responses/DefaultErrorResponse'

  /projects/{project_id}/close:
    parameters:
      - name: project_id
        in: path
        required: true
        schema:
          type: string
    post:
      summary: Closes a given project
      operationId: close_project
      requestBody:
        description: browser tab identifier
        required: true
        content:
          application/json:
            schema:
              $ref: './openapi-projects.yaml#/components/schemas/ClientSessionId'
      responses:
        '204':
          description: project succesfuly closed

        default:
          $ref: './openapi.yaml#/components/responses/DefaultErrorResponse'

  /projects/{project_id}/nodes:
    parameters:
      - name: project_id
        in: path
        required: true
        schema:
          type: string
    post:
      summary: Create a new node
      operationId: create_node
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                service_key:
                  type: string
                  pattern: '^(simcore)/(services)/(comp|dynamic)(/[^\s/]+)+$'
                  description: The key (url) of the service
                service_version:
                  type: string
                  pattern: >-
                    ^(0|[1-9]\d*)(\.(0|[1-9]\d*)){2}(-(0|[1-9]\d*|\d*[-a-zA-Z][-\da-zA-Z]*)(\.(0|[1-9]\d*|\d*[-a-zA-Z][-\da-zA-Z]*))*)?(\+[-\da-zA-Z]+(\.[-\da-zA-Z-]+)*)?$
                  description: The tag/version of the service
              required:
                - service_key
                - service_version
            example:
              service_key: simcore/services/dynamic/3d-viewer
              service_version: "1.4.0"

      responses:
        '201':
          description: created
          content:
            application/json:
              schema:
                $ref: './openapi-projects.yaml#/components/schemas/NodeEnveloped'
        default:
          $ref: './openapi.yaml#/components/responses/DefaultErrorResponse'
  
  /projects/{project_id}/nodes/{node_id}:
    parameters:
      - name: project_id
        in: path
        required: true
        schema:
          type: string
      - name: node_id
        in: path
        required: true
        schema:
          type: string
    
    get:
      description: Gets node status
      operationId: get_node
      responses:
        default:
          $ref: './openapi.yaml#/components/responses/DefaultErrorResponse'

    delete:
      description: Stops and removes a node from the project
      operationId: delete_node
      responses:
        "204":
          description: node has been successfully deleted from project
        default:
          $ref: './openapi.yaml#/components/responses/DefaultErrorResponse'
          

components:
  schemas:
    Project:
      $ref: './components/schemas/project-v0.0.1-converted.yaml'
    ProjectEnveloped:
      type: object
      required:
        - data
      properties:
        data:
          $ref: './openapi-projects.yaml#/components/schemas/Project'
        error:
          nullable: true
          default: null
    ProjectArrayEnveloped:
      type: object
      required:
        - data
      properties:
        data:
          type: array
          items:
            $ref: './openapi-projects.yaml#/components/schemas/Project'
        error:
          nullable: true
          default: null
    Node:
      type: object
      required:
        - node_id
      properties:
        node_id:
          type: string
          description: The UUID attached to this node
          example: 123e4567-e89b-12d3-a456-426655440000
      
    NodeEnveloped:
      type: object
      required:
        - data
      properties:
        data:
          $ref: './openapi-projects.yaml#/components/schemas/Node'
        error:
          nullable: true
          default: null
    ClientSessionId:
      type: string
      example: 5ac57685-c40f-448f-8711-70be1936fd63
