{#  STANDARD METHODS: https://cloud.google.com/apis/design/custom_methods  #}

from loguru import logger

from fastapi import APIRouter, HTTPException
from starlette import status


router = APIRouter()


@router.get("/dags:batchGet")
async def batch_get_dags():
    raise HTTPException(
        status_code=status.HTTP_501_NOT_IMPLEMENTED, detail="Still not implemented"
    )


@router.get("/dags:search")
async def search_dags():
    # A method that takes multiple resource IDs and returns an object for each of those IDs
    # Alternative to List for fetching data that does not adhere to List semantics, such as services.search.
    # https://cloud.google.com/apis/design/standard_methods#list
    raise HTTPException(
        status_code=status.HTTP_501_NOT_IMPLEMENTED, detail="Still not implemented"
    )
