version: "3.7"
services:
  registry:
    image: registry:2
    init: true
    ports:
      - "5000:5000"
  portainer:
    image: portainer/portainer
    init: true
    ports:
      - "9000:9000"
    command: -H unix:///var/run/docker.sock
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - portainer_data:/data
volumes:
  portainer_data: {}
