# Add here ONLY this package's constraints


#
# CONSTRAINTS DUE TO TEST LIBRARIES
#


# NOTE: moto, aws-sam-translator, and cfn-lint constraints were removed
# after upgrading jsonschema from ~=3.2 to a modern version (the old
# constraints existed solely to work around jsonschema version conflicts).
