{% trans first_name=user.first_name or user.user_name %}Dear {{ first_name }},{% endtrans %}

{% trans host=host %}A request to reset your {{ host }} password has been made.{% endtrans %}
{% if success %}
{% trans %}To complete the process, please click the link below:{% endtrans %}
{{ link }}
{% else %}
{% trans %}It could not be completed due to the following reason:{% endtrans %}
{{ reason }}
{% endif %}
{% trans support_email=product.support_email %}If you did not request this, please contact us immediately at {{ support_email }} for security reasons.{% endtrans %}

{% trans %}Best Regards,{% endtrans %}
{% trans product_name=product.display_name %}The {{ product_name }} Team{% endtrans %}
