{% extends 'email/_base/body_html.j2' %}
{% block title %} {% include 'email/reset_password/subject.j2' %} {% endblock %}
{% block content %}
<p>{% trans first_name=user.first_name or user.user_name %}Dear {{ first_name }},{% endtrans %}</p>

<p>{% trans host=host %}A request to reset your {{ host }} password has been made.{% endtrans %}</p>

{% if success %}
<p>{% trans %}To complete the process, please click the link below:{% endtrans %}</p>
<!-- Bulletproof button: table-based for maximum email client compatibility -->
<table border="0" cellpadding="0" cellspacing="0" role="presentation" style="margin-top: 10px; margin-bottom: 10px;">
  <tr>
    <td style="{{ strong_button_td_style }}">
      <a href="{{ link }}" target="_blank" rel="noopener noreferrer" style="{{ strong_button_link_style }}">
        {% trans %}Reset Password{% endtrans %}
      </a>
    </td>
  </tr>
</table>
{% else %}
<p>{% trans %}It could not be completed due to the following reason:{% endtrans %}</p>
<p><strong> {{ reason }} </strong></p>
{% endif %}

{% set support_link %}<a href="mailto:{{ product.support_email }}">{{ product.support_email }}</a>{% endset %}
<p>{% trans support_link=support_link %}If you did not request this, please contact us immediately at {{ support_link }} for security reasons.{% endtrans %}</p>

<p>{% trans %}Best Regards,{% endtrans %}</p>
{% set product_name %}<i>{{ product.display_name }}</i>{% endset %}
<p>{% trans product_name=product_name %}The {{ product_name }} Team{% endtrans %}</p>
{% endblock %}
