[project]
name = "simcore-service-library"
version = "1.2.0"
description = "Core service library for simcore"
readme = "README.md"
requires-python = ">=3.13"
authors = [{ name = "osparc", email = "support@osparc.io" }]
license = { text = "MIT" }
dependencies = [
    "arrow>=1.3.0",
    "jsonref>=1.1.0",
    "jsonschema>=4.25.1",
    "orjson>=3.11.4",
    "pydantic[email]>=2.11.9",
    "pydantic-extra-types>=2.10.5",
    "pydantic-settings>=2.7.0",
    "rich>=14.1.0",
    "typer>=0.19.2",
    "aio-pika>=9.5.7",
    "aiocache>=0.12.3",
    "aiodebug>=2.3.0",
    "aiodocker>=0.24.0",
    "aiofiles>=24.1.0",
    "faststream>=0.5.48",
    "httpx[http2]>=0.28.1",
    "opentelemetry-api>=1.37.0",
    "opentelemetry-exporter-otlp>=1.37.0",
    "opentelemetry-instrumentation-aio-pika>=0.58b0",
    "opentelemetry-instrumentation-asyncpg>=0.58b0",
    "opentelemetry-instrumentation-httpx>=0.58b0",
    "opentelemetry-instrumentation-logging>=0.58b0",
    "opentelemetry-instrumentation-redis>=0.58b0",
    "opentelemetry-instrumentation-requests>=0.58b0",
    "opentelemetry-sdk>=1.37.0",
    "psutil>=7.1.0",
    "pyinstrument>=5.1.1",
    "pyyaml>=6.0.3",
    "redis>=6.4.0",
    "stream-zip>=0.0.84",
    "tenacity>=9.1.2",
    "toolz>=1.0.0",
    "tqdm>=4.67.1",
    "yarl>=1.20.1",
]

[build-system]
requires = ["uv_build>=0.9.28,<0.10.0"]
build-backend = "uv_build"

[tool.uv.build-backend]
module-name = "servicelib"

[tool.setuptools.package-data]
"*" = ["py.typed", "redis/lua/*.lua", "long_running_tasks/_lua/*.lua"]

[tool.setuptools]
package-dir = { "" = "src" }
packages = ["servicelib"]
include-package-data = true

[tool.pytest.ini_options]
asyncio_mode = "auto"
asyncio_default_fixture_loop_scope = "function"
markers = [
  "diagnostics: can be used to run diagnostics against deployed data",
  "testit: marks test to run during development",
]

[tool.mypy]
plugins = ["pydantic.mypy"]
