[project]
name = "simcore-service-library"
version = "1.2.0"
description = "Core service library for simcore"
readme = "README.md"
requires-python = ">=3.13"
authors = [{ name = "osparc", email = "support@osparc.io" }]
license = { text = "MIT" }

[build-system]
requires = ["uv_build>=0.9.28,<0.10.0"]
build-backend = "uv_build"

[tool.uv.build-backend]
module-name = "servicelib"

[tool.setuptools.package-data]
"*" = ["py.typed", "redis/lua/*.lua", "long_running_tasks/_lua/*.lua"]

[tool.setuptools]
package-dir = { "" = "src" }
packages = ["servicelib"]
include-package-data = true

[tool.pytest.ini_options]
asyncio_mode = "auto"
asyncio_default_fixture_loop_scope = "function"
markers = [
  "diagnostics: can be used to run diagnostics against deployed data",
  "testit: marks test to run during development",
]

[tool.mypy]
plugins = ["pydantic.mypy"]
