.hint-button {
    display: none !important;
}

.hint-input:hover > .hint-button, .hint-button:hover {
    display: block !important;
}

.hint-input:hover > .hint-field {
    margin-right: 18px;
}

.hint:after {
    bottom: 0;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: #373737;
    border-width: 5px;
    margin-left: -5px;
}