{% extends 'email/_base/body_html.j2' %}
{% block title %} {% include 'email/registered/subject.j2' %} {% endblock %}
{% block content %}
<p>{% trans first_name=user.first_name or user.user_name %}Dear {{ first_name }},{% endtrans %}</p>
<p>{% trans product_name=product.display_name, host=host %}Thank you for registering with {{ product_name }}. Your
  account has been successfully created and you can now sign in to {{ host }}.{% endtrans %}</p>
{% set support_link %}<a href="mailto:{{ product.support_email }}">{{ product.support_email }}</a>{% endset %}
<p>{% trans support_link=support_link %}If you have any questions or need assistance, please don't hesitate to contact
  us at {{ support_link }}.{% endtrans %}</p>
<p>{% trans %}Best Regards,{% endtrans %}</p>
{% set product_name %}<i>{{ product.display_name }}</i>{% endset %}
<p>{% trans product_name=product_name %}The {{ product_name }} Team{% endtrans %}</p>
{% endblock %}
