{% trans first_name=user.first_name or user.user_name %}Dear {{ first_name }},{% endtrans %}

{% trans product_name=product.display_name, host=host %}Thank you for registering with {{ product_name }}. Your account
has been successfully created and you can now sign in to {{ host }}.{% endtrans %}

{% trans support_email=product.support_email %}If you have any questions or need assistance, please don't hesitate to
contact us at {{ support_email }}.{% endtrans %}

{% trans %}Best Regards,{% endtrans %}
{% trans product_name=product.display_name %}The {{ product_name }} Team{% endtrans %}
