## Python requirements for running tests.
##
##    pip install --requirement=requirements.txt
##
aiopg
coveralls==1.5.1
pytest==3.10.0
pytest-aiohttp
pytest-asyncio
pytest-cov==2.6.0
pytest-docker==0.6.1
openapi_spec_validator==0.2.4
pyyaml==3.13
virtualenv
