name: Github-CI-Release

on:
  push:
    tags:
      - v[0-9]+.[0-9]+.[0-9]+

env:
  # secrets can be set in settings/secrets on github
  DOCKER_REGISTRY: ${{ secrets.DOCKER_REGISTRY }}
  DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
  DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}

concurrency:
  group: ${{ github.workflow }}
  cancel-in-progress: true

jobs:
  deploy:
    name: deploy release
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        python: ["3.11"]
        os: [ubuntu-22.04]
      fail-fast: false
    env:
      TO_TAG_PREFIX: release-github
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: find branch name
        shell: bash
        run: echo "BRANCH_NAME=$(git name-rev --refs="refs/remotes/origin/master" --refs="refs/remotes/origin/hotfix_v*" --refs="refs/remotes/origin/hotfix_staging_*" --name-only ${GITHUB_SHA})" >> $GITHUB_ENV
      - name: setup docker buildx
        id: buildx
        uses: docker/setup-buildx-action@v3
      - name: set owner variable
        run: echo "OWNER=${GITHUB_REPOSITORY%/*}" >> $GITHUB_ENV
      - name: set git tag
        run: echo "GIT_TAG=${GITHUB_REF##*/}" >> $GITHUB_ENV
      - name: show system environs
        if: github.event_name == 'push'
        run: ./ci/helpers/show_system_versions.bash
      - name: source image is staging
        run: echo "FROM_TAG_PREFIX=staging-github" >> $GITHUB_ENV
      - if: contains(env.BRANCH_NAME, 'remotes/origin/hotfix_v')
        name: source image is hotfix (instead of staging)
        run: echo "FROM_TAG_PREFIX=hotfix-github" >> $GITHUB_ENV
      - name: deploy
        run: ./ci/deploy/dockerhub-tag-version.bash
