name: Github-CI-Release

on:
  push:
    tags:
      - v[0-9]+.[0-9]+.[0-9]+

env:
  # secrets can be set in settings/secrets on github
  DOCKER_REGISTRY: ${{ secrets.DOCKER_REGISTRY }}
  DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
  DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}

jobs:
  deploy:
    # only run on staging branch
    if: github.event.base_ref == 'ref/heads/staging'
    name: deploy release
    runs-on: ubuntu-latest
    env:
      TAG_PREFIX: staging-github
    steps:
      - uses: actions/checkout@v1
      - name: setup-docker
        uses: docker-practice/actions-setup-docker@0.0.1
      - name: setup docker-compose
        run: sudo ./ci/github/helpers/setup_docker_compose.sh
      - name: set owner variable
        run: echo ::set-env name=OWNER::${GITHUB_REPOSITORY%/*}
      - name: set git tag
        run: echo ::set-env name=GIT_TAG::${GITHUB_REF##*/}
      - name: deploy
        run: ./ci/deploy/dockerhub-release.bash
