{% extends 'email/_base/body_html.j2' %}
{% block title %} {% include 'email/account_approved/subject.j2' %} {% endblock %}
{% block content %}
<p>{% trans first_name=user.first_name or 'User' %}Dear {{ first_name }},{% endtrans %}</p>

<p>
  {% trans product_name=product.display_name %}Thank you for your interest in {{ product_name }}. We are pleased to provide you with a one-time invitation link to register on the platform.{% endtrans %}
</p>

{% if trial_account_days is defined and trial_account_days %}
<p>{% trans count=trial_account_days %}Your account includes {{ count }} day trial period.{% pluralize %}Your account includes {{ count }} days trial period.{% endtrans %}</p>
{% endif %}

{% if extra_credits is defined and extra_credits %}
<p>{% trans extra_credits=extra_credits %}You also receive {{ extra_credits }} free credits.{% endtrans %}</p>
{% endif %}

{% set register_link %}<a href="{{ link }}">here</a>{% endset %}
<p>
  {% trans register_link=register_link %}Click {{ register_link }} to access the registration page.{% endtrans %}
</p>

{% set support_link %}<a href="mailto:{{ product.support_email }}">{{ product.support_email }}</a>{% endset %}
<p>
  {% trans support_link=support_link %}Please follow the on-screen information and proceed with your registration. If any problem should occur, please feel free to contact us at {{ support_link }}.{% endtrans %}
</p>

<p>{% trans product_name=product.display_name %}Enjoy {{ product_name }}!{% endtrans %}</p>

<p>{% trans %}Best regards,{% endtrans %}</p>

{% set product_name %}<i>{{ product.display_name }}</i>{% endset %}
<p>{% trans product_name=product_name %}The {{ product_name }} Team{% endtrans %}</p>
{% endblock %}
