#
# Contraints in this file are NOT part of the *.in requirements
# Include this file with --contraints
#

# yarl version 1.8.2 is the first one shipping wheels for Python 3.11
# SEE services/web/server/tests/unit/isolated/test_utils.py::test_yarl_new_url_generation for properly usage
yarl>=1.8.2
frozenlist>=1.3.1

# See: https://github.com/pydantic/pydantic/issues/4011
pydantic>=1.10
