#
# Contraints in this file are NOT part of the *.in requirements
# Include this file with --contraints
#

# Could not find a version that matches jsonschema<4,<5.0.0,>=4.0.0 (from -r requirements/_base.in (line 90))
# There are incompatible versions in the resolved dependencies:
#   jsonschema (from -r requirements/../../../../packages/service-library/requirements/_aiohttp.in (line 14))
#   jsonschema<4 (from -c requirements/../../../../packages/service-library/requirements/././constraints.txt (line 27))
#   jsonschema<4 (from -c requirements/../../../../packages/service-library/requirements/./constraints.txt (line 27))
#   jsonschema<4 (from -r requirements/_base.in (line 90))
#   jsonschema (from openapi-spec-validator==0.3.1->openapi-core==0.12.0->-r requirements/../../../../packages/service-library/requirements/_aiohttp.in (line 8))
#   jsonschema<5.0.0,>=4.0.0 (from openapi-schema-validator==0.2.0->openapi-spec-validator==0.3.1->openapi-core==0.12.0->-r requirements/../../../../packages/service-library/requirements/_aiohttp.in (line 8))
jsonschema<4
openapi-schema-validator<0.2.0


# BREAKING CHANGES:
# -> tests will fail with
#   RuntimeError: There is already a profiler running.
#   You cannot run multiple profilers in the same thread or async context, unless you disable async support.
#
# SEE https://github.com/joerick/pyinstrument#v400release
pyinstrument<4
